[2016-04-29 17:58] mordka opened #3 "Set up continous integration"
We need to set up Travis to trigger deployment to our VPN after pushing code changes. At least watch master branch. It would be a massive time saver and would allow us to publish hot fixes on a demand.

[2016-04-30 10:57] #3 closed

[2016-05-06 14:06] AndyatFocallocal opened #4 "redirect user after 'make it social pop up'"
redirect user to 'show more' page after 'make it social' window after creating a gather, so they can review their gather/resource and add photos and social links they need

[2016-05-06 14:07] AndyatFocallocal opened #5 "'select all' (and deselect all) button/link in legend"
'select all' (and deselect all) link in legend

[2016-05-06 14:08] AndyatFocallocal opened #6 "improve appearance of 'time' from 00:01:00 - 1pm or 13:00"

[2016-05-06 14:09] AndyatFocallocal opened #7 "users unable to click gather dot after perforforming an action"
minor bug, after performing an action like creating an event users arent able to click dots on the map or the legend until they refresh the page. when this happens a a #! is added to the end of the url

[2016-05-06 14:09] AndyatFocallocal opened #8 "god mode, 'users' page needs side scroll"
in godmode, side scroll doesnt work so you can see users name without zooming the screen out

[2016-05-06 14:23] AndyatFocallocal opened #9 "create subcategories"
top level:
 - sub category

Focallocal Community Gatherings
 - Take a Smile
 - Free Hugs
 - Busker Dance Party
 - etc

International Positive Action Days
 - International Pillow Fight Day
 - Take a Smile Day
 - Global Give a Bubble Day
 - etc

Positive Social Action Movement Partners
- Focallocal
- Action for Happiness
- Museum of Happiness
- The Liberators International
- etc

[2016-05-06 14:23] AndyatFocallocal opened #10 "1.5. add colour coding into legend"
add icons colour coding as dots next to issues in the Legend

[2016-05-06 14:24] AndyatFocallocal opened #11 "improve legend UI"

[2016-05-06 14:24] AndyatFocallocal opened #12 "1.5. Users can select a photo header from our list of photos (google drive?folders, or upload their own"
users given the ability to scroll through and choose one of our cover photos, or to upload their own photo.

a carousel plugin would be perfect.

atm the photos are in google drive, separated into subcategories which do (or can be changed to) match the categories in the maps. link:

Gathering:
1) use our cover photos - linking to: https://drive.google.com/open?id=0BwLUtixxA6u_a3dEVVdGWHhVZ1k
2) up

[2016-05-06 14:26] AndyatFocallocal opened #13 "add photos (linked with a Flikr group?)"
so we don't have to host thousands of photos

[2016-05-06 15:13] AndyatFocallocal commented on #13
if you decide this is a good idea let me know. we have a Flikr group but its not actively used so i'd need to log in and change some things

[2016-05-06 15:17] AndyatFocallocal opened #14 "'Spam or Error' button on all listings so users can self-moderate spam or outdated resource.details (essential to the Street Sleeper Map)"

[2016-05-06 15:18] AndyatFocallocal opened #15 "User Profiles Created"
profiles should be built planning for future sync/integration with either our wordpress or discourse user databases (which are sync'd). later they will also be sync'd with Wekan (an open source Trello clone). If they can be built in that way now, even better. Profiles should sync across both maps if possible.

**Side/bottom bar**
an expansion to the current 'filters' open and closeable bar on the

[2016-05-06 15:22] AndyatFocallocal opened #16 "'Edit' icon added to the main listing page"
i noticed the ability to edit a post after creation for is author already exists on the map view popup, when you click the event on the map. it'd be good to also add it into the main gathering window where users click through to ge full details, so its easier for users to see that they can edit their posts.

(Users have complained they couldn't edit posts as the intuitive place they look for the e

[2016-05-06 15:23] AndyatFocallocal opened #17 "email user (or notify on social media) when Gather is created nearby"
in profile they should be able to select distance or switch off

[2016-05-09 17:21] AndyatFocallocal opened #18 "Some dots disappear when we zoom out, others dont"
would be god to keep them all so visitors can get an overview of the Whole Positive Social Action Movement, or all the events connected to an International Action Day

[2016-05-09 17:22] AndyatFocallocal opened #19 "Some areas of the Map appear all grey when zooming in too far"
suggestion reduce zoom-in capability by 2 stages

[2016-05-10 21:11] AndyatFocallocal opened #20 "times displayed are an hour ahead of times selected"

[2016-05-10 22:47] AndyatFocallocal opened #21 "change map start view to users location"
to keep our Australian friends happy

[2016-05-11 16:08] AndyatFocallocal opened #22 "Set up information displayed on social media when sharing"
when sharing a link to the map via social media it doens't pull a tagline, image or metadata

[2016-05-11 23:04] AndyatFocallocal opened #23 "text overlapping with a long address and title in list view"

[2016-05-11 23:06] AndyatFocallocal opened #24 "add country/city filter so users can find gathers in their city easier in list view"
i just remembered how absolutely amazingly cool it looks when you click an item in the list view

[2016-05-19 22:58] mordka commented on #23
This is happening for small viewports so we can simply assign text or address a class that will hide on smaller devices

[2016-05-20 02:09] AndyatFocallocal commented on #23
sure. my laptop screen is 12 inches for reference

[2016-05-20 18:44] mordka commented on #21
`initializeLeafletMap` is called with 2 params, the second param is the initial zoom of the map. Let's play with it so that it shows whole world.
Docs: http://leafletjs.com/reference.html#map-constructor

[2016-05-20 18:46] mordka commented on #19
similar to #21 - we need to define `minZoom` param to forbid zooming out too far.
http://leafletjs.com/reference.html#map-constructor

[2016-05-20 18:48] mordka commented on #18
We cluster them intendedly into groups, to make them easily clickable when they are close to each other. I think it's not a bug.

[2016-05-20 18:55] mordka commented on #6
@patison89 this is something for you, here we have a method which is populating the dropdown, in the new event form https://github.com/mordka/fl-events/blob/master/both/collections/events.js#L220-L229
We need to currently it's outputting an array e.g. ['00:00','00:30'] and so on. We need to amend it to result in more readable format. And we can skip some late night hours.
So let's say from 08:00 a

[2016-05-20 19:08] mordka commented on #20
Ha it's a good catch. We have internationalization problem.
When user selects a date and save form -> the date should be converted from user's timezone the UTC and saved to database (https://github.com/mordka/fl-events/blob/master/both/collections/events.js#L211)
When user is displayed a date we should read the date from database and convert it to user's timezone.
(various places in the app)
This

[2016-05-20 19:10] AndyatFocallocal commented on #18
sorry, i could have been clearer. when zooming out some individual dots independant from a cluster disappeared completely, others were still visible

[2016-05-20 19:10] mordka commented on #4
We can use something like `Router.go('events', {_id: eventId})` in the place when we zoom in the map.

[2016-05-20 19:31] AndyatFocallocal commented on #4
just checking, was my description clear?

after a user creates an event the 'make it social' popup appears. currently after this users return to the map. we'd prefer they were redirected to the newly created Gather's page so they can review it, add links and photos, etc

[2016-05-20 19:56] mordka commented on #4
Yes it was clear
--
Pawel
pt., 20.05.2016 o 20:31 użytkownik AndyatFocallocal <notifications@github.com>
napisał:
just checking, was my description clear?

after a user creates an event the 'make it social' popup appears. currently
after this users return to the map. we'd prefer they were redirected to the
newly created Gather's page so they can review it, add links and photos, etc

—
You are rece

[2016-05-31 01:14] AndyatFocallocal opened #30 "re-deploy map for homeless 'street sleeper resource map' project"
re-deploy the map under the url:

brightertomorrowmap.com

(i assume its a small task to re-deploy a second identical copy of the map). send me an email if you need access to our server: contact@focallocal.org

[2016-05-31 01:24] AndyatFocallocal opened #31 "All text editable in admin area (label, <h>, intro)"
The Best solution would be to add fields into the admin area (backend/godmode) where an admin can change all text areas in the map.

If you prefer to fork the project and code the titles yourself here are the changes required:
- times changed to 'start time and finish time' (so visitors know when resource opens and closes)
- Add 'StreetSleeper Resource Map' Title to Menu
- 'Create your Gather' + i

[2016-05-31 01:37] AndyatFocallocal opened #32 "'pick a time' not allowing users to pick a time later than 13:00"
maybe screen size/resolution dependant. when i scroll down the furthest i can go is 13:00 and anything after 10am isn't intuative to access as the pointer is below its window

[2016-05-31 01:44] AndyatFocallocal opened #33 "(updated) Improving text management and entry on 'Overview' and 'Full Details'"
overflow issue requiring a scroll bar or text cut off

[2016-06-22 17:43] AndyatFocallocal commented on #31
An alternative, and more useful solution for this map in long-term, would be to make all headings editable in the backend (godmode), so it was easy to edit this map and redeploy it for other projects

[2016-07-24 15:27] AndyatFocallocal opened #34 "Remove menu items on the left of the map except for 'about us'"
the menu items in the map are only for the events map and should be removed for other uses. the 'about us' link can stay as other projects using it will be by the Focallocal community

[2016-07-25 18:15] AndyatFocallocal opened #35 "Printable maps"
Note: this feature does not need to be implemented before the project launches.

We want users to be able to print out a physical copy of resources on the map, so they can give it to people near them who are homeless

the printout will include:

1. a map view with all icons visible to the user when 'print' is clicked
2. a key
3. a list of details (suggestion bottom half of page, or on a second pag

[2016-07-26 02:39] AndyatFocallocal opened #36 "Improve graphic design of key/filters window"
it needs a CSS overhaul and implementation of a higher and lower level expandable category structure - as we may end up with 200 or more categories in the future. Filters should be links so they can be selected on the map, or clicked which redirects users to their page where users can read more info about them, and a guide for the day

[2016-07-26 02:46] AndyatFocallocal opened #37 "Create subcategories"
The key/filters window is small and likely to become cluttered. We can already edit categories in the back end, I'd like to add sub categories which only show in the key/filter window when expanded. Subcategories should also be selectable/deselectable on the map (default: on)

[2016-07-26 02:58] AndyatFocallocal opened #38 "Single sign on and user profile data sharing between map and focallocal.org (wordpress and html)"
This will likely require SSL. We found OpenSSL which is free to use

[2016-07-26 03:07] AndyatFocallocal commented on #12
In the street sleepee map we could suggest user uploads a photo from Google maps or images if they don't have one

[2016-07-26 03:08] #11 closed

[2016-07-26 03:09] #9 closed

[2016-07-26 03:14] AndyatFocallocal opened #39 "Improve Admin/Godmode area"
Log in to God mode and visit the user or listing databases. It's not possible to tell which are which without opening them

Admin area displays code rather than words for users and listings making management difficult

[2016-07-26 03:17] AndyatFocallocal opened #40 "'re-assign correct main menu icons"
Email me: contract@focallocal.org

I have a screenshot from before the library became messed up

[2016-07-26 04:03] AndyatFocallocal opened #41 "Create user search and positive action request feature"
A feature so users can search and contact other focallocallers and invite them to meet for positive  public action

Contact Andy to see Mock up

[2016-07-26 12:17] AndyatFocallocal opened #42 "create user modrerators"
to manage the site and users

[2016-07-26 14:22] darko-mijic opened #44 "Find out what is causing standard-minifier-css to fail after upgrade to Meteor 1.3 and re-enable that package"

[2016-07-26 18:39] AndyatFocallocal opened #45 "User profiles searchable"
user profiles searchable by event they wish to be contacted about. how often they wish to be contacted. location.

the search function will probably appear in a tab within the key/legend, switching it to search functionality

[2016-07-26 18:44] AndyatFocallocal opened #46 "User to User Feedback score complete “Positive Action Points”"
Users will be able to upvote other users they've met at gatherings, giving them 'Positive Action Points' initially in the map, although this score will later be integrated into all areas of the website so they can also give each other points for:

- articles they've written
- tasks completed in a project
- videos edited
- photos posted

[2016-07-30 21:42] alfiepoleon commented on #40
How was it before?

[2016-07-31 18:16] AndyatFocallocal commented on #40
Here's the right half: https://drive.google.com/file/d/0BwLUtixxA6u_VGt6STlORWVDRFk/view?usp=drivesdk

And here's the left half: http://focallocal.org

[2016-08-02 19:30] AndyatFocallocal opened #47 "Add forgotten password reset system"

[2016-08-02 19:36] AndyatFocallocal commented on #34
![temp1](https://cloud.githubusercontent.com/assets/16229696/17342357/cb00f288-58f0-11e6-8976-6ec6b88678d2.png)

[2016-08-02 19:41] AndyatFocallocal commented on #33
![bouncing](https://cloud.githubusercontent.com/assets/16229696/17342479/70fa2d44-58f1-11e6-842c-ae92200c5a63.png)

[2016-08-02 19:46] AndyatFocallocal commented on #32
![event time select](https://cloud.githubusercontent.com/assets/16229696/17342666/2acf78dc-58f2-11e6-8687-f4790f541622.png)

[2016-08-02 19:49] AndyatFocallocal commented on #40
Also, this should be a + sign

![icons](https://cloud.githubusercontent.com/assets/16229696/17342774/9fd59f12-58f2-11e6-9a18-7d55e44805d6.png)

[2016-08-02 19:52] AndyatFocallocal commented on #31
![icons](https://cloud.githubusercontent.com/assets/16229696/17342840/f778767c-58f2-11e6-9490-9c88f366a8a7.png)
![image](https://cloud.githubusercontent.com/assets/16229696/17342857/0e44b208-58f3-11e6-9cc4-a30a3ac492b8.png)
![image](https://cloud.githubusercontent.com/assets/16229696/17342864/11298e58-58f3-11e6-9ce7-e274e7ccb0eb.png)

[2016-08-02 19:55] AndyatFocallocal commented on #31
![icons](https://cloud.githubusercontent.com/assets/16229696/17342974/6bf54bf6-58f3-11e6-86a0-6f5624060f9b.png)

[2016-08-02 19:57] AndyatFocallocal commented on #31
![text 2](https://cloud.githubusercontent.com/assets/16229696/17343030/b5aa6a88-58f3-11e6-81de-b6847b9d80f2.png)

[2016-08-02 20:02] AndyatFocallocal commented on #31
![text 2](https://cloud.githubusercontent.com/assets/16229696/17343071/e01db7c0-58f3-11e6-8837-6bcbf9b0d237.png)

[2016-08-02 20:04] AndyatFocallocal commented on #40
Delete and Edit are not the correct icons. Screenshot of originals not available so you'll need to select accurate new icons

![dialogue box](https://cloud.githubusercontent.com/assets/16229696/17343245/956ffbf6-58f4-11e6-8447-50205a510434.png)

[2016-08-02 20:11] AndyatFocallocal commented on #31
![text edit](https://cloud.githubusercontent.com/assets/16229696/17343456/aca38026-58f5-11e6-9006-7978276b8247.png)

[2016-08-02 20:16] AndyatFocallocal commented on #22
This issue has changed since i last saw it. it probably can be more accurate still, by pulling activity, time, location, header, number of people attending (events only), correct header photo

![sharing](https://cloud.githubusercontent.com/assets/16229696/17343525/18d01ce6-58f6-11e6-9b03-fcc142258ce2.png)

[2016-08-02 20:22] AndyatFocallocal commented on #20
If possible it would be better to simply have the time selected as the time selected, ignoring time zones. Facebook does this and it regularly causes issues for event organisers who are travelling (as a lot of ours will be), using a proxy, daylight savings changes, or just computer weirdness going on.

low tech, select a time, get a time is better

![image](https://cloud.githubusercontent.com/asse

[2016-08-02 20:23] AndyatFocallocal opened #48 "Double click on a dot is supposed to auto-zoom in. the function appears to have broken"

[2016-08-02 20:28] AndyatFocallocal opened #49 "Road names appear on map when fully zoomed in"
this may be technically challenging, if so its not essential. would add usability to the map though

[2016-08-02 20:29] AndyatFocallocal commented on #19
appears to have been solved

[2016-08-02 20:30] #19 closed

[2016-08-02 20:31] AndyatFocallocal commented on #18
not able to recreate. may have been solved, would suggest creating 10 - 20 dummy events, zooming all the way out and testing

[2016-08-02 20:31] #18 closed

[2016-08-02 20:35] AndyatFocallocal commented on #16
Edit Button added to this page. Edit function already exists in the button on the second image

![text edit](https://cloud.githubusercontent.com/assets/16229696/17344072/c443ddf4-58f8-11e6-8d07-782ee4c8f104.png)

![image](https://cloud.githubusercontent.com/assets/16229696/17344159/172f03ae-58f9-11e6-9fa2-1d35b75f6bd7.png)

[2016-08-02 20:38] AndyatFocallocal commented on #16
'Edit' Button added to this page. Edit function already exists in the button on the second image

![text edit](https://cloud.githubusercontent.com/assets/16229696/17344296/76e5ad70-58f9-11e6-9857-3d4c276dc79b.png)

![edit event button](https://cloud.githubusercontent.com/assets/16229696/17344304/7e31b876-58f9-11e6-8d88-e6a70cc39172.png)

[2016-08-02 20:40] AndyatFocallocal commented on #14
'report error/spam' button added to this page

![text edit](https://cloud.githubusercontent.com/assets/16229696/17344334/9cf62904-58f9-11e6-9f17-fb9a194ad0cc.png)

[2016-08-02 20:41] AndyatFocallocal commented on #12
Header photos added

![text edit](https://cloud.githubusercontent.com/assets/16229696/17344417/e3b497a4-58f9-11e6-9356-9f6c7bc195fb.png)

[2016-08-02 20:47] AndyatFocallocal commented on #13
users able to upload and share their photos of this event, images displayed from and via Flickr:
http://offbeatbride.com/collect-wedding-photos-flickr/

[2016-08-02 20:51] AndyatFocallocal commented on #6
![dialogue box](https://cloud.githubusercontent.com/assets/16229696/17344735/2de6e2cc-58fb-11e6-8c8f-d430f141b09f.png)

![text edit](https://cloud.githubusercontent.com/assets/16229696/17344747/36cd7284-58fb-11e6-8862-6d0a44c1e95c.png)

[2016-08-02 20:53] AndyatFocallocal commented on #4
After this page

![make it social pop up](https://cloud.githubusercontent.com/assets/16229696/17344802/5ec8de68-58fb-11e6-9bfa-486a172f0caa.png)

user who posted event/resource should be redirected to this page

![text edit](https://cloud.githubusercontent.com/assets/16229696/17344833/7b6ccdfe-58fb-11e6-89a7-cdf9f6b12215.png)

[2016-08-04 06:41] alfiepoleon commented on #32
All the time is in the html file, but scrolling doesn't seem to go to the last option 2330, in my screen it goes up to 1900.
Maybe a height issue in the div? I'll look at it later today

[2016-08-04 08:22] zmikaya commented on #32
I think it fails to properly account for screen size, so on a larger
screen, you see more values.

On Thu, Aug 4, 2016 at 2:41 AM Alfred Kinyua <notifications@github.com>
wrote:

[2016-08-05 08:44] Pierre-Ferreira commented on #33
Hi Andy. I was able to replicate this issue (the whole screen bouncing) on my local machine yesterday, but today it is working fine. Bit of a slippery fish.

[2016-08-07 22:40] AndyatFocallocal opened #50 "Add Menu icon on the left titled 'Uni'"
Add a menu icon on the left titled 'Uni', in full it will be Focallocal University of Positive Action

url will be http://uni.focallocal.org

this is for a University Course i will be setting up to teach people how to do what i do, to work on and create some awesome projects together, and have their name and photo up on our website as a graduate, and in the projects they led, or worked on.

it won

[2016-08-07 22:41] AndyatFocallocal commented on #50
@alfiepoleon i've assigned you as i know you were working on the Menu anyway. No worries if you'd rather not, just seemed that this should be linked to the tasks you were working on

[2016-08-07 22:56] erostatyka commented on #50
Nice!

W dniu niedziela, 7 sierpnia 2016 AndyatFocallocal <notifications@github.com>
napisał(a):

[2016-08-08 00:31] AndyatFocallocal commented on #50
My suggestion would be a Graduation Cap, like this one: http://fontawesome.io/icon/graduation-cap/

Although we aren't using font-awesome as yet

[2016-08-08 00:38] AndyatFocallocal commented on #50
@erostatyka nice that you're still following the project. we've got a great team together and working on it now and you'd be welcome to join in again if you like, just let me know and ill invite you to our Slack group :)

[2016-08-08 00:47] AndyatFocallocal commented on #33
Sorry @Pierre-Ferreira i don't get notifications from comments at the moment unless you tag me. Not sure why, i'll try to change that

it seems to happen when either the description is too long, or when the screen is too small for the text in the description. i think that's what causes it

[2016-08-09 08:08] mordka commented on #23
Thank you @patison89 for fixing this

[2016-08-09 08:08] #23 closed

[2016-08-10 01:57] AndyatFocallocal commented on #23
Awesome Patison, thank you :0)

[2016-08-31 17:58] lucasmonteiro001 commented on #7
i´ll start checking this one to see if i find what is goin' on.

[2016-09-02 02:17] fossilblue commented on #47
Can I do this one?

[2016-09-04 11:15] fossilblue commented on #47
Added the forgot and reset password.

[2016-09-07 08:53] Angamanga commented on #48
@AndyatFocallocal When I run the application, it does auto-zoom, not very far though, do you want it to zoom longer than it currently does?

[2016-09-07 11:54] Angamanga commented on #35
Maybe there are some useful information here: https://northlandia.wordpress.com/2016/03/16/printing-in-leaflet/

[2016-09-08 08:49] fossilblue commented on #35
Hi,

Will try to research on this one.

[2016-09-09 13:00] fossilblue commented on #35
Still checking this on GitHub https://github.com/rowanwins/leaflet-easyPrint

Any comments?

[2016-09-20 12:01] distalx commented on #42
I would like to take this one.

[2016-09-20 13:06] mordka commented on #42
How would it look like? What features do we need to add to enable moderators manage the site content?
Can we reuse admin panel?

[2016-09-20 17:35] distalx commented on #42
It would be a standard role based authentication, with following basic features.

- block/unblock user
- promote and demote user.
- report user.

[2016-10-06 19:52] iggelt commented on #32
The problem is that size of list  (<ul>) is too big and it owerflows the event form.  changing max-height to 200px for class .dropdown-content solves this problem

[2016-10-10 10:51] #32 closed

[2016-10-11 17:16] AndyatFocallocal opened #57 "redesign of 'gathering'/'resource' creation window."
one of the main purposes of the Gatherings Map is to take away the fear of creating an event yourself. people worry it'll be hard, so presenting them with a wall of options to enter will put many people off. similarly less people will want to enter all the details of a resource if it looks like it'll take a long time.

we want to walk them through it step by step, so upon clicking 'add a new resou

[2016-11-17 01:03] AndyatFocallocal commented on #48
oh, i'm not receiving notifications it seems. i'm sorry @Angamanga. it should zoom in to show roughly the area of a large city like London. tbh, i cant check as the live version appears to be not working at all

[2016-11-17 01:07] AndyatFocallocal commented on #30
i have purchased a domain ready for this

[2016-12-14 12:28] AndyatFocallocal opened #58 "Add ability to click on a location on map to add a resource/event"

[2016-12-26 16:24] ydaniel98 commented on #24
@AndyatFocallocal I was about to take on this one, but I am unable to add events. I am getting a "Please provide an address" error when everything is filled out (new event form). Is this a known bug?

[2016-12-26 21:26] AndyatFocallocal commented on #24
yes, i noticed this recently, it has developed in the last few updates.

i don't think i've created an issue for it., would you like to add it to the issues/bugs list, and assign it into the milestones for reaching the Beta launch Daniel

[2016-12-26 21:33] AndyatFocallocal commented on #24
@ydaniel98 feel welcome to tackle any issue and this is a cool one to get done, in case you hadn't seen the milestones, these are the issues needed to reach our Beta Launch: https://github.com/focallocal/fl-maps/milestone/1

[2016-12-26 21:36] AndyatFocallocal commented on #31
@maypo are you still active on this issue? if not would you mind un-assigning it so it doesn't hold others back from working on it

[2016-12-26 21:36] AndyatFocallocal commented on #5
@Angamanga are you still active on this issue? if not would you mind un-assigning it so it doesn't hold others back from working on it

[2016-12-26 23:57] ydaniel98 commented on #24
@AndyatFocallocal I took some time this morning and couldn't find a cause. I will add the events manually to get the filter done and then I will tackle the bug.

[2016-12-27 17:30] ydaniel98 commented on #24
@AndyatFocallocal I finished the UI for the filter but ran into a small problem. (The delete icon is just a placeholder)
<img width="1277" alt="screen shot 2016-12-27 at 1 20 20 pm" src="https://cloud.githubusercontent.com/assets/11820758/21504813/641156c4-cc38-11e6-816b-75ff43c55eeb.png">

In order to filter events by country or, city, the country and city would have to be fetched per event from

[2016-12-27 20:16] AndyatFocallocal commented on #24
@ydaniel98 the best thing to do would be to discuss this in the Slack channel, and to tag Pawel and Dx who are both doing some coding this week

[2016-12-27 20:23] AndyatFocallocal commented on #24
@ydaniel98 as a user using the map in a smaller town in say South Africa, i'll want to be able to find events near me the as easily as someone in New York. can we make that possible in the filters you're building?

[2016-12-27 20:38] ydaniel98 commented on #24
@AndyatFocallocal Yes. I am planning on having 4 possibilities for the filter - country, state, city and any other thing that one could have searched for in the search input. Will that be sufficient?

[2016-12-27 22:08] ydaniel98 opened #59 "Can't add events (Typeahead not working)"
When the new event formed is properly filled out, the event is not added.

[2016-12-28 03:27] AndyatFocallocal commented on #24
Yes, sounds great :)

[2016-12-28 03:32] AndyatFocallocal commented on #42
I believe this is what's intended anyway, but just to clarify, this would need to have 3 levels. Admin, Moderator and User

[2016-12-28 03:38] AndyatFocallocal commented on #35
@fossilblue Looks good. It would require the ability to print a map and list, of what is currently on the users screen so user can choose which location and which resources it they print. this would include/exclude filters which are currently selected

[2016-12-28 14:29] ydaniel98 commented on #24
@AndyatFocallocal  I created a pull request for this issue.

[2016-12-29 15:20] ydaniel98 commented on #59
@AndyatFocallocal @mordka I checked a few previous commits and the issue seems to be present in month old commits.  Is it known when the issue first appear?

[2016-12-29 16:26] ydaniel98 commented on #59
The problem seems to be here (eventsForm.js):
`if (instance.debounce) {
            Meteor.clearTimeout(instance.debounce);
  }`
`instance.debounce is not defined`
However, this error only shows up sometimes. I think it's due to meteor-typeahead not working properly.

[2016-12-29 19:38] AndyatFocallocal commented on #59
@ydaniel98 good tracking down.

We had a team form and work on the Map but activity slowed and didn't come back until now, so its been close to dead for about 2 months now. the issue would most likely have come about when we upgraded the system to Meteor 1.3.

a 1.4. upgrade has been suggested as a side project that people can play around with once the map is live. its expected to bring about more

[2016-12-29 19:40] AndyatFocallocal commented on #47
@fossilblue absolutely, if you are still interested there are a few developers pushing towards that launch we've been talking about.

best to communicate primarily on Slack though as i don't get notifications here (..can't work out why)

[2016-12-30 01:35] AndyatFocallocal commented on #24
@ydaniel98 sorry foe the wait, i'm just asking the others to talk me through the process. i'm afraid i'm still learning Github

[2016-12-30 13:04] ydaniel98 commented on #24
@AndyatFocallocal You already merged the pull request 2 days ago.

[2016-12-30 15:43] ydaniel98 commented on #59
@mordka The problem seems to be typeahead. I am not sure of how to fix it. I've tried several things but it keeps behaving erratically. Do you have any idea of how to fix it?

[2016-12-30 22:36] AndyatFocallocal commented on #24
@ydaniel98 ah yes, i had a notification so i clicked it. tbh i should've asked the others to do so as i'm not able to review code in Meteor

[2017-01-02 18:00] ydaniel98 commented on #59
I tracked down the problem withing typeahead. It occurs in line 2587: `template.$(selector).each(init_typeahead);`. JQuery, sometimes, returns an empty object which causes typeahead to not initialize properly.

[2017-01-03 23:30] ydaniel98 commented on #59
I managed to fix the bug, but typeahead is still not working 100%. I had to use a bit of a workaround for autocompletion to work (typeahead, I think, is conflicting with another package) after fixing the original problem, but now, once the option is selected, there is another error withing typeahead. Should I create a PR with the progress I've made so far? I could use a little help.

[2017-01-04 00:54] distalx commented on #59
Thinking out loud here. If we use the new directory structure would that be helpful? what I understood so far is that sometimes JQuery takes time to load and if typeahead tries to initialize during that time it causes this issue !
with use of the `imports` pattern we would be able to control the load order.

[2017-01-04 14:35] ydaniel98 commented on #59
Hi @distalx. What was happening is that autoform was loading after `eventsForm.onRendered` was triggered, that caused JQuery to return an empty object. I fixed it by initializing typeahead inside `autoForm.onRendered`. With that and a bit of a workaround, typeahead started displaying suggestions but throws an error after selecting one (No idea why).

Anyways, I think it would be a good idea to use

[2017-01-05 15:27] ydaniel98 commented on #59
I created a pull request for this issue. It turns out that typeahead had not been updated in a while. I thought I updated it when I started working on this issue, but I hadn't.

Also, @distalx How about we creating an issue for import patterns. I think it could facilitate debugging in the future.

[2017-01-05 15:29] #24 closed

[2017-01-05 15:42] ydaniel98 opened #62 "Events don't show up in map after clicking away from the map"
Events/Gathers only show up in map sometimes.
Here are the errors:
1. `Exception in queued task: TypeError: Cannot read property 'RegisterMarker' of undefined`
2. `Exception in queued task: TypeError: Cannot read property '_id' of undefined`

After reloading a few times the first error disappears the second one persists.

[2017-01-05 22:50] #59 closed

[2017-01-06 17:05] ydaniel98 commented on #62
With PR #63 events now show up when the page first loads, but If one clicks away from the map and then goes back to the map, events disappear.

@distalx  @mordka I am not familiar with the geocoder package, any ideas on what's going on?

[2017-01-11 20:17] ydaniel98 commented on #62
@AndyatFocallocal PR #64 fixes this issue.

[2017-01-12 01:47] distalx commented on #42
I'm swamped right now IRL. If someone else wants to have a go at it, be my guest. Otherwise, I'll try to get to it as soon as I can.

[2017-01-12 20:24] ydaniel98 opened #65 "'Show more' button not working"
The 'Show more' button in the map and calendar is not working.
`Router is not defined`

[2017-01-12 21:30] ydaniel98 opened #67 "Event detail not working"
After clicking 'show more' (fixed in PR #66 ), the event details are not populated. The error is in `event.js` - It seems to be unfinished.

[2017-01-13 21:05] ydaniel98 commented on #6
@AndyatFocallocal This issue seems to have been already fixed for the most part. I created a PR (#68) with @mordka 's suggestion of setting the start time to 8:00 and fixed the time format for the event detail view.

[2017-01-13 21:35] ydaniel98 commented on #33
@AndyatFocallocal. I was not able to replicate this issue. Maybe it got fixed?

[2017-01-13 21:48] ydaniel98 commented on #20
@AndyatFocallocal How about a small popup on top of the page prompting the user to select a time zone (it would be saved as a user setting)? Also, the time zone could be specified where ever the time is displayed on the page.

[2017-01-14 00:25] #65 closed

[2017-01-14 00:26] #67 closed

[2017-01-14 00:29] AndyatFocallocal commented on #6
great effort @ydaniel98 :0)

[2017-01-14 00:30] AndyatFocallocal commented on #20
@ydaniel98 i'm ok with that suggestion, if an automatic option is difficult or likely to have bugs

[2017-01-14 00:33] AndyatFocallocal commented on #33
@ydaniel98 i would double check but it seems the fixes are not being pushed to the live map, so i'm still not able to create gathers/resources there/ have asked @mordka @distalx if they can see the issue

[2017-01-14 00:46] mordka commented on #20
@ydaniel98 times are displayed in user's timezone by default so I don't see a point of selecting it ;)

[2017-01-14 19:14] AndyatFocallocal commented on #20
@mordka Facebook has a lot of troubles with this system when people are travelling as it puts their profiles default timezone in when they create an event (i triple check after creating an event on the road).

the Gatherings map is going to used often by traveller wanting to meet people and do positive action together. where does the current auto-selected time zone get the time zone from?

if its

[2017-01-15 16:28] ydaniel98 commented on #33
@AndyatFocallocal I checked the live map, and I was able to create an event. Not sure of what's going on.

[2017-01-16 00:01] AndyatFocallocal commented on #33
@ydaniel98 it seems the issue is with Post/Zip codes only, which is something that might be best to deal with when tackling issue #57

[2017-01-16 00:06] AndyatFocallocal opened #69 "after making an action buttons cease working"
i've noticed this before, the situation i'm noticing it in now is:

load the site.

click icon

click show more

page loads fine

return to map

click icon

click show more - nothing happens

i can't remember the situation when this happened last, but i'm also noticing that you can't click anything on the map, and the dots aren't combining after creating a new dot - until you manually refresh the

[2017-01-16 00:27] AndyatFocallocal commented on #33
@ydaniel98 i've got it working and it looks as though someone has half-solved this bug by making the site cut the description after a set amount of words.

the issue previously was that long descriptions made the pop up try to expand outside the main screen window, after clicking on a dot. causing the whole screen to bounce up and down rapidly as it tried to show everything

the solution active no

[2017-01-16 19:18] AndyatFocallocal opened #70 "Street names. Can we get them to show on the map?"
i expect the map is built using an overlay of an opensource map with street names on it. ts beautiful and perfect for what we're doing, i don;t want to drop it - but is there a way to get those street names to display on the map when zoomed in?

[2017-01-16 19:24] AndyatFocallocal opened #71 "Clicking a location (with no dots) on Map should also open an add Gather/Resource Window"
i believe this used to be the case so the code should already be there, just deactivated. Ask @mordka

[2017-01-16 19:31] AndyatFocallocal opened #72 "Submission Approval System"
Category 'Others'

when an submission is made in the Others Category an email is sent mods/admins requiring approval before setting Gather/Resource live

[2017-01-16 19:50] ydaniel98 commented on #6
I will close this issue since issue #20 is already time related.

[2017-01-16 19:50] #6 closed

[2017-01-16 20:12] ydaniel98 opened #73 "Not setting the time when creating a new event breaks the new event form"

[2017-01-16 20:20] ydaniel98 commented on #69
@AndyatFocallocal  Reloading the page after creating an event will render the feature of panning to the newly created event unnecessary. However this can be done after returning to the map from the calendar, home or the show more view.

[2017-01-17 23:39] AndyatFocallocal commented on #69
@ydaniel98  sounds fine to me, as long as it solves that inability to click on anything on the map. great effort by the way

[2017-01-17 23:57] AndyatFocallocal commented on #6
@ydaniel98 which solution did we go with to resolve the issue?

does it pull the timezone from a user? and if so can we check gathering/resource creation from different time zones using a proxy to see if people travelling will find the times appearing in their home time-zone rather than the actual time set? as happens now on facebook?

or did we go with just showing the time selected by the user,

[2017-01-18 00:16] ydaniel98 commented on #6
@AndyatFocallocal I was thinking that we could display time in two different time zones. One with the event time zone and another with the user time zone. That could avoid the travelling confusion. (issue #20). How does that sound?

[2017-01-18 00:23] AndyatFocallocal commented on #6
@ydaniel98 we could do that.

i'm just a fan of super simplicity. if the user sets the time at 3pm and its in France, i don't see the need for the system to know, or consider my timezone. if it lists it as 15:00 no-one can get confused.

consider if a user is in the UK and flying to France. they want to meet people in France, so create a gathering. there is an extra layer which they could get conf

[2017-01-18 00:26] ydaniel98 commented on #6
@AndyatFocallocal Good point. I'll remove the time zones all together then, after finishing up issue #69.

[2017-01-18 11:14] AndyatFocallocal commented on #6
@ydaniel98 awesome :)

[2017-01-18 21:21] ydaniel98 commented on #20
@AndyatFocallocal @mordka I have not been able to find anything related to time zones in the code. It seems like they have not been taking into account at all.

[2017-01-18 22:20] mordka commented on #20
The date should be saved in UTC format into database, when client is reading
the date it converts to it's timezone. it's a browsers feature
--
Pawel

On Thu, Jan 19, 2017 8:21 AM, Edwin Daniel Penalo notifications@github.com
wrote:
@AndyatFocallocal  @mordka  I have not been able to find anything related to
time zones in the code. It seems like they have not been taking into account at
all.

—
You

[2017-01-19 20:08] AndyatFocallocal commented on #20
@ydaniel98 @mordka  my recommendation is just to shut this operation down. far simpler and no risks of issues relating to vpns or travel causing times to be set wrong, if we just save times purely in numerical format.

As an event organiser with FL for 5 years, i am repeatedly messed around by facebook, couchsurfing, meetup, etc, trying to predict what time zone i want my event in, or giving me th

[2017-01-19 23:48] ydaniel98 commented on #20
@mordka Thanks, I didn't know it was a browser feature.
@AndyatFocallocal The fix was quite easy and no db modifications were required. If timezones are needed in the future, it should be quite easy to implement.

[2017-01-20 00:01] ydaniel98 opened #77 "Reload template instead of page (/events/map)"
Currently, after an event is created, the whole page is loaded. Ideally, the map should, instead, be reloaded locally.

Here is the original issue: #69

[2017-01-20 00:11] ydaniel98 commented on #71
@AndyatFocallocal  There is already an issue for this: #58.

[2017-01-20 16:16] #69 closed

[2017-01-20 22:26] AndyatFocallocal commented on #71
@ydaniel98 sorry my mistake

[2017-01-20 22:27] #71 closed

[2017-01-20 22:29] AndyatFocallocal commented on #77
nice.  added an enhancement label

[2017-01-20 22:33] AndyatFocallocal commented on #20
@ydaniel98 awesome! ᕙ༼ ,,ԾܫԾ,, ༽ᕗ

[2017-01-21 17:46] #20 closed

[2017-01-21 22:22] #33 closed

[2017-01-21 22:34] AndyatFocallocal commented on #33
just tested it. appears to be working beautifully, and i think the character count balance is just about perfect :)

[2017-01-23 01:27] AndyatFocallocal opened #80 "Better integration of the suggested activities list and the map?"
currently the suggested activities are in their own section and on the Megamenu. they feel very isolated over there and very few users actually visit them.

http://news.focallocal.org/activities-list/

as a user i'd like them to be more integrated into map so i can easily read and watch videos about the suggested activities. how can we achieve that?

[2017-01-23 12:37] AndyatFocallocal commented on #47
i didnt hear back from @fossilblue about his post above. this issue may be resolved already

[2017-01-23 12:44] AndyatFocallocal commented on #57
note: the address system has been turned off, and addresses are only allowed by city. part of this issue will involve switching them back on again

[2017-01-25 20:09] ydaniel98 commented on #57
@AndyatFocallocal What do you mean by that? I tested entering an address and it worked just fine.

[2017-01-26 19:41] AndyatFocallocal commented on #57
cant find a prominent address in London

![image](https://cloud.githubusercontent.com/assets/16229696/22347026/2d9999a2-e3fe-11e6-97a1-aff506d4df35.png)

Seems to be arguing with my auto fill

![image](https://cloud.githubusercontent.com/assets/16229696/22347047/49e41bfa-e3fe-11e6-9ba1-f6736f0cc826.png)

it did intermittently attempt to suggest a location using the Maps system, but i couldn't get

[2017-01-26 19:44] #40 closed

[2017-01-26 19:47] AndyatFocallocal commented on #40
@ydaniel98 thanks for linking these together :+1:

[2017-01-26 19:59] AndyatFocallocal commented on #57
note: the map did previously work for all locations and addresses, so something has been changed, or is interfering with the system. any idea what could cause this @mordka and @distalx ?

[2017-01-26 20:22] AndyatFocallocal opened #82 "quick updates to post gathering creation window"
![image](https://cloud.githubusercontent.com/assets/16229696/22348078/36eee1e8-e402-11e6-9bb7-e302a7c62e67.png)

the word 'event' will need to be changed to 'Gathering' for the Gatherings Map, and 'Resource' for the Brighter Tomorrows Map. this could be hard coded or editable in the Admin area, its not too different to the user. Alternatively, an easier solution could be just to change the word to

[2017-01-26 21:55] ydaniel98 commented on #57
@AndyatFocallocal I would suggest not including this in the Milestone for the Beta. It's taking a lot of refactoring and could bring about a few bugs a side effect.

Also, since the form is automatically generated that complicates everything a bit.

[2017-01-27 06:30] mordka commented on #57
@AndyatFocallocal I fixed it now, could you test again?

[2017-01-27 14:06] ydaniel98 commented on #57
@AndyatFocallocal How about keeping the current form factor for errors? The form factor you described would be implemented, but if the form has any errors then the slide form would be shown with the errors. Then the user can review the data and then submit again.

@mordka Do you know how we could work around Autoform? Or do you think we should not use it at all?

I'm not gonna have a reliable inte

[2017-01-28 14:31] AndyatFocallocal commented on #57
@ydaniel98 we'll get a significantly higher drop off rate with the current form, users look at it and decide to put it off to another time. where as the chain of single/double entry windows means they've made a commitment after the 1st box and are much more likely to complete the submission.

we will also need to make changes to this before Beta launch anyway as its currently set up for gatherings

[2017-01-28 18:46] ydaniel98 commented on #57
@AndyatFocallocal I'll try a few more things on Tuesday, but I'll certainly be asking for support in slack.

Thanks.

[2017-01-29 14:18] AndyatFocallocal commented on #45
@mordka  @distalx @ydaniel98 @Angamanga  user profiles is a task i'd love to get set up on the Hack Day, although it would be in the 'if there's time' category.

Wordpress and our forum Discourse have an SSO integration built in. which we could prob add into the html pages pretty easily. so  i was wondering, rather than build user profiles in Meteor would it be easier to either pull the informatio

[2017-01-31 17:35] iamlasse opened #83 "Not Mobile friendly"
Are there plans to create a more mobile friendly version. I browsed on an iPhone 5s and it was very hard to navigate. Hamburger menu didn't work at all.

[2017-01-31 17:37] iamlasse commented on #83
#bug

[2017-01-31 18:11] AndyatFocallocal commented on #83
we haven't got anything specific planned as yet, although you'd be welcome to make suggestions.

i'm glad you took the time to comment, the hamburger menu was previously working and i wasn't aware it had broken. i'll create an issue

we also have plans to improve the filters window asap. hopefully during this weekends Homelessness Hack, as that is clearly not enjoyable to use. and update the 'Add

[2017-01-31 18:13] AndyatFocallocal opened #84 "Bug: Hamburger menu not opening on mobile"
It appears the hamburger menu has broken when used on small screen devices. Tested on Iphone5 and Oppo Find 7a, android and IOS.

[2017-01-31 22:07] ydaniel98 commented on #57
@AndyatFocallocal I made significant progress. I think that this issue will be done by tomorrow or Thursday.

[2017-02-01 20:17] AndyatFocallocal commented on #57
@ydaniel98 thank you so much! i was expecting a few more Meteor dev's to join in leading up to our Hack Weekend, but they never materialised. If it wasn't for your efforts we would have little chance of launching, and be working on a far more fragmented project.

Will you be joining in this weekend also? :0)

[2017-02-01 23:42] ydaniel98 commented on #57
@AndyatFocallocal I'm happy to help :). I don't know If I'll join for sure but I will try. I'm in a very different timezone.

[2017-02-02 14:23] AndyatFocallocal commented on #57
@ydaniel98 awesome. a few of the guys here have requested we make it a 38hr hack with coding all night so there might/should be people online at the same time as you.

head over to the forum we set up for it and say Hi. tell people a little about the amazing work you've been doing here in Github, and your skills :0)

http://discuss.focallocal.org/t/introductions-homelessness-and-happiness-hack-her

[2017-02-02 17:08] jonscv commented on #80
Hi guys,
Just to get some ideas flowing and to make things a bit more visual, I made a quick sketch of how I envisage Andy's suggestion...please see attachment.

(1) In the attachment, you will see a menu containing radio buttons to select desired activities. "Show button", will then populate a map with selected point of interest.
(2) Click on point of interest and popup window with event details

[2017-02-02 18:09] #34 closed

[2017-02-04 00:55] AndyatFocallocal opened #86 "cascading windows entry form. small bug"
when filling out the form it shouldn't allow the user to advance to the next window when an entry box is incomplete.

(good work though :+1: )

[2017-02-04 00:58] ydaniel98 commented on #86
@AndyatFocallocal That's what I mentioned in the pull request. I have not yet implemented validation.

[2017-02-04 01:19] AndyatFocallocal commented on #86
@ydaniel98 ah, ok awesome effort then

needs a little design change (smaller windows), and a few edits to the text/options. but this is a big step forwards!

[2017-02-04 01:33] ydaniel98 commented on #86
@AndyatFocallocal This has been fixed. PR #87

[2017-02-04 01:37] #86 closed

[2017-02-04 09:01] Angamanga commented on #84
@AndyatFocallocal Which hamburger-menu? The one on the map opening the different layers or the menu-bar-hamburger? I get the menu-bar-hamburger to open but not the map-hamburger.

[2017-02-04 10:56] AndyatFocallocal commented on #84
@Angamanga yup the map-hamburger

[2017-02-04 20:42] AndyatFocallocal opened #88 "Add search bar to map so users can zoom in to their location, town, street, etc"

[2017-02-04 21:05] ydaniel98 commented on #88
@AndyatFocallocal Thankfully, much of the code for this is already done. It would be pretty much the same as the address input in the new event form.

[2017-02-05 00:04] AndyatFocallocal commented on #57
@ydaniel98 we're hacking. can we contact you if you're online please :)

[2017-02-05 00:16] AndyatFocallocal commented on #57
@ydaniel98  we'd really like your knowledge of the map code with some edits they've made. they think it would be a far smaller task for you as you understand the code on here now.

there were some broken issues in the map, and no addresses, so they'd like to change the map for a Google maps one, and have three files which you should be able to modify to load the data from the database (as now the

[2017-02-05 00:38] ydaniel98 commented on #57
@AndyatFocallocal I did some work earlier, but unfortunately right now I'm busy. I'll be happy to help tomorrow. Just let me know.

Also, I think using google maps is a great idea.

[2017-02-05 00:52] AndyatFocallocal commented on #57
@ydaniel98 that's awesome! we'll be online from 9.30am GMT. how can we reach you? can we communicate via the forum?

http://discuss.focallocal.org/c/hack-homelessness-and-happiness/meteor-dev-brighter-tomorrows-gathering-map

[2017-02-05 14:55] ydaniel98 commented on #57
@AndyatFocallocal I'm online now. We can communicate through slack, here on github, or the forum. Which ever is easier.

[2017-02-05 15:49] ydaniel98 commented on #88
@AndyatFocallocal If google maps is implemented, It probably already includes a search bar.

[2017-02-05 19:29] ydaniel98 commented on #73
@AndyatFocallocal With the event form refactor, this was fixed.

[2017-02-05 19:29] #73 closed

[2017-02-05 19:33] AndyatFocallocal commented on #57
@ydaniel98 sorry, i missed this as i don;t get email notifications form any of those.

i didnt want to set my accounts up in any way that was different than an average user, so our own forum should be best but there is some kind of an issue that i can't find preventing the emails going

[2017-02-05 19:35] AndyatFocallocal commented on #88
@ydaniel98 can you contact David as he's working on it right now and you guys can chat

[2017-02-05 19:37] ydaniel98 commented on #88
@AndyatFocallocal What's his username? Also, should I contact him through the form?

[2017-02-05 19:39] AndyatFocallocal commented on #88
@eldavimost @ydaniel98  ..go :0)

[2017-02-05 19:43] AndyatFocallocal commented on #88
you guys should should have a quick 10/15min chat to make sure you are on the same page. not much till launch, working together, maybe it could be finished today?!!?! :dancing_men:

click here and you're in a video meeting: https://zoom.us/j/250694428

[2017-02-05 19:45] ydaniel98 commented on #88
Hello, @eldavimost. How is google maps going to be implemented and does the api already include a search bar?

[2017-02-05 19:52] AndyatFocallocal commented on #88
hey, david is in the video meeting. click the link and say hi :)

[2017-02-05 20:04] ydaniel98 commented on #88
@eldavimost This is my email.
ed22333t@gmail.com

[2017-02-05 20:15] ydaniel98 commented on #88
@AndyatFocallocal I'll get started implementing google maps in the project. I'll create a separate issue for it.

[2017-02-05 20:19] ydaniel98 opened #91 "Implement google maps in the project"

[2017-02-06 00:30] ydaniel98 commented on #91
@eldavimost I did some testing. It should be pretty easy to implement. I'll see if I can get it done by tomorrow.

[2017-02-07 19:45] AndyatFocallocal opened #92 "Repeat Activity/Resource tick box"
a repeat activity/resource tick box on the submission form for people wanting to offer monthly activities

[2017-02-07 20:12] ydaniel98 commented on #57
@AndyatFocallocal Any feedback on this? Or do you consider this issue solved?

[2017-02-08 13:07] AndyatFocallocal commented on #57
@ydaniel98 i'd consider this closed. i just kept the thread open as it had the map files in the comments. if you have those go ahead and close the issue!

thank you, i'm not giving up on this map and letting a cheap imitation take away the benefit it was going to bring to people on the streets around the World

[2017-02-08 14:51] AndyatFocallocal commented on #88
@ydaniel98 in a rush, sorry dude. didn't have time to search for the new issue. can i request this map in the implementation please: https://snazzymaps.com/style/34/neon-world

[2017-02-08 19:07] AndyatFocallocal commented on #88
@ydaniel98 if its more than 2min job don't worry, but if its simply editing a colour code can i request that we tone down the red on that neon map when its fully zoomed in to a slightly lighter and more orange shade.
really not a big issue, we can easily do that later too

[2017-02-08 19:44] ydaniel98 commented on #88
@AndyatFocallocal From the url you provided it looks pretty easy. I'll give it a go.

[2017-02-09 02:08] #57 closed

[2017-02-09 23:49] ydaniel98 commented on #84
@AndyatFocallocal @Angamanga When implementing google maps I had to recode the legend. This should now be fixed.

[2017-02-09 23:52] ydaniel98 commented on #5
@AndyatFocallocal PR #94 adds this feature.

[2017-02-10 01:03] #70 closed

[2017-02-10 01:16] AndyatFocallocal commented on #84
Awesome! It solved so many issues

[2017-02-10 15:50] #91 closed

[2017-02-10 15:53] AndyatFocallocal commented on #88
@ydaniel98 i don't see the search bar. also we're going to need to move the + Add symbol as its now conflicting with the +/- keys on Google Map

[2017-02-10 17:49] AndyatFocallocal opened #95 "Update Map to Neon version"
https://snazzymaps.com/style/34/neon-world

and change the red tone on the nearest view to a lighter blue colour (or any more relaxed colour than the aggressive red)

[2017-02-10 17:54] #5 closed

[2017-02-10 17:56] AndyatFocallocal opened #96 "Improve visibility of legend on Maps"
making the legend bolder or larger so users can easily see that they are supposed to interact with the element

[2017-02-10 17:58] AndyatFocallocal opened #97 "resolve positional conflict +/- keys and '+ add resource or gathering' button"
the two elements are touching on the map so one of them should be moved. i suspect the + add resource/gathering button would be easiest to move to the left of the map

[2017-02-10 22:51] AndyatFocallocal opened #100 "Add two new buttons to 1st 'Add' window"
Button 1:

On the Gather Map users will be able to click 'Other Positive Action' to submit activities not on our automatically approved list.

On the Resources Map users will be able to 'Offer a Resource' to help people homeless (i.e. CV help, or buying them a coffee and a chat).

Both will need to be approved by an admin/mod before going live - to avoid drug sales, bar crawls, etc spamming our ma

[2017-02-10 23:08] #83 closed

[2017-02-10 23:09] #80 closed

[2017-02-10 23:09] #72 closed

[2017-02-10 23:10] #49 closed

[2017-02-10 23:14] AndyatFocallocal opened #101 "change starting location map is centred on"
right now the map opens on Africa. We expect most of our initial users to be Europe and America.

The scale is fine, just set opening location slightly higher up

[2017-02-10 23:19] #21 closed

[2017-02-10 23:21] #7 closed

[2017-02-10 23:28] #13 closed

[2017-02-10 23:31] #48 closed

[2017-02-11 04:06] ydaniel98 commented on #62
@AndyatFocallocal @mordka With google maps integration an old bug resurfaced. When clicking off to another section of the website, the markers disappear.

[2017-02-11 04:09] ydaniel98 commented on #88
@AndyatFocallocal I'm not yet done with this issue. There is a little bit more work to be done.

[2017-02-11 19:35] #97 closed

[2017-02-11 21:49] AndyatFocallocal opened #104 "set pop up (create gathering now/post a resource now) to display on page load for 3 secs"
to make it as clear to the user as possible what the + button is for, can we set it to auto-display for a short time when the page 1st loads, and then hide until user hovers over it.

3 seconds sounds about right to me.

[2017-02-11 22:00] AndyatFocallocal opened #105 "Update links in ? pop up button once issue #31 is complete"
gatherings maps link:

http://news.focallocal.org/how-to-create-a-positive-social-action-activity/

[2017-02-13 20:45] #95 closed

[2017-02-13 20:46] #88 closed

[2017-02-14 15:38] AndyatFocallocal commented on #95
@Spartano has this issue been resolved? i can't see any changes on the map

[2017-02-14 16:11] Spartano commented on #95
In the pull request you should see the changes in the code. You can copy
paste any map you like now.

Il 14 Feb 2017 4:39 PM, "AndyatFocallocal" <notifications@github.com> ha
scritto:

[2017-02-14 17:25] AndyatFocallocal commented on #47
it seems this issue has been started but i'm not aware if its complete or not. if taking this you can have a look at the code here: https://github.com/focallocal/fl-maps/pull/54

it might already be sufficient, or a starting point that'll save some time

[2017-02-15 05:21] Islandersfan2016 commented on #101
I'll try to fix this problem.

[2017-02-15 18:10] AndyatFocallocal opened #109 "1.5. Sharing Links set, or editable for each separate map"
The Brighter Tomorrows/Street Sleeper Resource Map will have less use for sharing. the sharing links should just share the main map url and a blurb

The Gatherings Map requires links set correctly with the current copy/paste sharing system.
Also we'd like the event to be automatically shared (if possible) to this page: https://www.facebook.com/groups/focallocal/

ideally exactly the same as il8n,

[2017-02-15 20:23] #62 closed

[2017-02-15 22:39] Spartano commented on #47
dont know if it will work because i dont know Blaze so good, lets leave it
for now, i will try to implement it on saturday.

On Tue, Feb 14, 2017 at 6:25 PM, AndyatFocallocal <notifications@github.com>
wrote:

[2017-02-16 21:00] ydaniel98 commented on #31
@AndyatFocallocal. @Spartano added the package and figured out how to use it. I'll populate the json file.

[2017-02-16 21:16] AndyatFocallocal commented on #31
@ydaniel98 Its the stuff of legends!

[2017-02-16 21:17] ydaniel98 commented on #31
@AndyatFocallocal. @Spartano too, he came up with the idea :).

[2017-02-16 21:41] AndyatFocallocal commented on #31
@Spartano also a legend! :)

btw, does this mean i'm not needed for the screen share on Sunday, or is that separate?

[2017-02-16 21:47] ydaniel98 commented on #31
@AndyatFocallocal From what I understand, currently since there is no ui for it, the text has to be edited in the back-end. Until then, it would be useful if you could also perform edits.

@Spartano Is that right, or did I misunderstand?

[2017-02-17 11:00] Spartano commented on #31
Yes, the text hAs to be changed in the code, but it is very easy to do it.
In 2 min with a screen share i can teach you, so you can change it at will

Il 16 Feb 2017 10:47 PM, "Edwin Daniel Penalo" <notifications@github.com>
ha scritto:

[2017-02-18 13:18] #31 closed

[2017-02-18 15:25] ydaniel98 opened #113 "Add UI to edit text (if user is an admin) in the front-end"
The front end code is done for the most part. It's on this branch: https://github.com/ydaniel98/fl-maps/tree/text_018n_enable. Check the file https://github.com/ydaniel98/fl-maps/blob/text_018n_enable/client/commun/adminEditHandler.js.
I would also suggest using i18n-db.

[2017-02-19 16:04] #14 closed

[2017-02-19 16:43] #96 closed

[2017-02-19 17:15] ydaniel98 opened #117 "Change hardcoded api to one in settings.json"

[2017-02-19 18:06] AndyatFocallocal opened #118 "on clicking icon set, zoom in 4 steps closer from current zoom setting, to show the town clicked"
small edit: clicking the icons should zoom in closer so map displays the town clicked

[2017-02-19 18:52] AndyatFocallocal opened #120 "change toogle into toggle in legend"
spelling error in legend

[2017-02-19 19:00] #120 closed

[2017-02-19 19:00] #118 closed

[2017-02-19 20:30] ydaniel98 commented on #100
@AndyatFocallocal Could you rephrase what button 2 is suppose to be?

[2017-02-19 21:30] AndyatFocallocal opened #123 "set legend to display open for 0.5 - 1 seconds on page load"
the legend could be more obvious to a new user. a simple solution would be to set it to display as open for 1-2 seconds on page load, and then auto-close. Users will then know exactly what options are available to them.

this function is already set for the + (create new gather/resource) right now so you can probably just copy the code directly across

[2017-02-19 21:36] AndyatFocallocal commented on #100
sorry for the delay, i missed notifications for some reason.

this will be a link to an external list of suggestions.

on the gatherings map it'll link to this page: http://news.focallocal.org/activities-list/ (the page will be moving in the near future).

on the Brighter Tomorrows Map it'll link to another external page with a list of suggestions they can offer to support local people who are hom

[2017-02-20 11:08] AndyatFocallocal commented on #30
i believe @mordka is going to handle this. is that correct Pawel?

[2017-02-20 14:25] Islandersfan2016 commented on #101
I'm having trouble resolving this issue. Does anyone have suggestions? Should we make the map a little smaller in order to center Europe/US when it opens?

[2017-02-20 16:09] AndyatFocallocal commented on #101
@Islandersfan2016 i dont see any issue with starting on this map zoom setting, so long as it zooms into a decent country sized level when 1st clicking a dot, and still zooms in to a large city sized level on the second click

![image](https://cloud.githubusercontent.com/assets/16229696/23132808/b844a0b0-f786-11e6-801f-546ca7769218.png)

[2017-02-20 16:14] AndyatFocallocal commented on #118
@Islandersfan2016 if you resolve the issue by changing the initial zoom setting, and any of the following zoom on click settings need editing you can ask ydaniel98 if you need any help making changes as he recently fixed a related issue

also, welcome to the build! :+1:

[2017-02-20 16:19] AndyatFocallocal opened #124 "improve visibility of dots"
an unintended outcome from using a bright map is that the dot markers are a little hard to see now, can we make them more instantly visible?

perhaps adding an outer glow would work?

[2017-02-20 21:33] ydaniel98 commented on #101
@Islandersfan2016 You can use the settings found in the Template.map.helper function. There you can set the centre of the map when it first loads.

[2017-02-21 04:09] #47 closed

[2017-02-21 04:10] AndyatFocallocal commented on #47
closed as i believe Spartano solved this today

[2017-02-21 04:13] AndyatFocallocal commented on #109
Added to alpha incase someone wants to work on a task but there are none left. this is not required for Alpha launch

[2017-02-21 04:14] AndyatFocallocal commented on #22
Added to alpha incase someone wants to work on a task but there are none left to work on. this is not required for Alpha launch

[2017-02-21 04:15] AndyatFocallocal commented on #10
Added to alpha incase someone wants to work on a task but there are none left. this is not required for Alpha launch

[2017-02-21 04:16] AndyatFocallocal commented on #35
Added to alpha incase someone wants to work on a task but there are none left. this is not required for Alpha launch

[2017-02-21 14:54] AndyatFocallocal commented on #117
can i ask about the status of this issue as i don't fully understand it's implications. is this something that needs to be complete before Alpha launch? :)

[2017-02-21 19:42] ydaniel98 commented on #117
@AndyatFocallocal No, we cannot launch without this. It should be a 10 minutes thing. Currently I'm prioritising bringing admin mode back.

[2017-02-21 22:40] AndyatFocallocal commented on #117
@ydaniel98 ok :)

[2017-02-21 22:43] AndyatFocallocal opened #128 "bug: remove green panel recently added behind + (add gather/resource) button"

[2017-02-21 22:45] AndyatFocallocal commented on #123
update: i think this works better set at just 1 second, or even 0.5. we just want to the user to see that it is there

[2017-02-21 23:23] Spartano commented on #128
Its not a bug. I have added it, lol. I was tryng to evidentiate the create
event. How would you like to change it?

Il 21 Feb 2017 23:43, "AndyatFocallocal" <notifications@github.com> ha
scritto:

[2017-02-22 08:40] Spartano commented on #123
I have made some tests. For slower connections it never shows, thats why i
set it open. I have tryed with 5 seconds and still doesnt give good
results. If ypu wish i will set it up to 1 sec.

Il 21 Feb 2017 23:45, "AndyatFocallocal" <notifications@github.com> ha
scritto:

update: i think this works better set at just 1 second, or even 0.5. we
just want to the user to see that it is there

—
You ar

[2017-02-22 10:44] AndyatFocallocal commented on #123
I think it's a bit obtrusive the way it it's. Tbh, I'm not totally sure, but I'd favor occasionally not showing over always irritating a user

[2017-02-22 10:45] AndyatFocallocal commented on #128
Maybe an outer glow around the button

[2017-02-22 10:46] AndyatFocallocal commented on #128
I thought the text opening when the user visited handled it pretty well, we can run a few tests and return to this in the Beta launch

[2017-02-22 11:05] Spartano commented on #123
I will set it to 1 sec then

Il 22 Feb 2017 11:44, "AndyatFocallocal" <notifications@github.com> ha
scritto:

[2017-02-22 11:06] Spartano commented on #128
I will set it opacity 0.1 then

Il 22 Feb 2017 11:46, "AndyatFocallocal" <notifications@github.com> ha
scritto:

[2017-02-22 12:21] AndyatFocallocal commented on #123
:)

[2017-02-22 21:31] #128 closed

[2017-02-22 21:31] #123 closed

[2017-02-23 22:58] ydaniel98 commented on #100
@AndyatFocallocal The text is hardcoded for now. I forgot to enable it with i18n. I'll make a PR with those changes later.

[2017-02-24 10:23] agadev commented on #4
Changed congratsModal.html
[code]

congratsModal.js

`function redirect() {
	var eventId = Session.get('selected');
	var params = {_id: eventId};
	FlowRouter.go('eventById',params);
}

Template.congratsModal.events({
	'click #copy-button': function() {
		selectText('selectable');
	},
	'click #close-button': function() {
		redirect();
	}
});`

[congratsModal.zip](https://github.com/focallocal/fl-ma

[2017-02-24 19:18] AndyatFocallocal commented on #100
sorry. i should have been clearer with the description. the 2 buttons should be in this window next to back and next

![image](https://cloud.githubusercontent.com/assets/16229696/23317349/46a5ee82-face-11e6-810f-b1c177d5c9d2.png)

[2017-02-24 20:04] AndyatFocallocal commented on #100
the 'other positive action' would operate the same as any other category, except it would need an admin to approve it before going live. so it'd load the same chain of boxes to add details, and be assigned its own colour like any other category. same with the 'offer a resource' although i think that would also be automatically approved

this page wouldnt be necessary (except for the admin in the b

[2017-02-24 20:11] AndyatFocallocal commented on #100
the wifi here is too slow to upload the image. it was of the 'add category window that you created' we can def use that function for admins if the backend doesnt already have that ability :)

[2017-02-27 23:10] AndyatFocallocal commented on #84
i found this issue again when i resized my screen to tablet size. clicking the hamburger menu to the left of the top menu (where top menu items have hidden) makes the screen go dark, but the icons are not visible

[2017-02-27 23:16] AndyatFocallocal commented on #84
![image](https://cloud.githubusercontent.com/assets/16229696/23384260/6453b24c-fd4a-11e6-93fc-82b988c79c64.png)

[2017-02-27 23:17] AndyatFocallocal commented on #84
please ignore the insane amount of things on my desktop. i have a google drive issue which i need to resolve and begun storing things there temporarily, and.... well, yeah. :P

[2017-02-28 20:02] ydaniel98 commented on #100
@AndyatFocallocal The same as the current setup, but with the new category button as part of the category list?

[2017-03-01 01:14] AndyatFocallocal commented on #100
yeah, so it'd be part of the category list but the main way users would access it would be a button at the bottom. easiest solution would be to just add a category where activities/resources need to be approved, and also add a function to the button at the bottom which would select that category and move to the next window

so we'd have a row of 4 buttons at the bottom now :)

[2017-03-02 23:37] AndyatFocallocal opened #135 "bug: fields not showing correctly in created events"
![image](https://cloud.githubusercontent.com/assets/16229696/23531992/79e2a292-ffa9-11e6-97eb-c787fe40b666.png)

CongratsModal being called rather than the category name

[2017-03-03 00:57] AndyatFocallocal opened #136 "change all text 'gather' into 'Mission' on the Gather Map"
be careful to exclude urls

[2017-03-10 00:21] iamlasse commented on #83
I'll have a look.

[2017-03-10 18:46] AndyatFocallocal commented on #83
great.

the UX/UI team had a look last week and made a few other suggestions which should be fairly easy to implement. i'll add them into the 1.5 milestone today

[2017-03-10 22:29] #117 closed

[2017-03-10 22:32] ydaniel98 commented on #100
@AndyatFocallocal Would you say this is done?

[2017-03-10 22:33] #30 closed

[2017-03-12 00:15] AndyatFocallocal commented on #100
should have 4 buttons, and the text removed. the link there would be a 'suggestions' button

[2017-03-12 00:42] AndyatFocallocal opened #179 "add dummy print button with message"
a print button and a popup saying 'functionality being worked on by our amazing team of volunteers. want to join in the build?'

[2017-03-17 02:37] AndyatFocallocal opened #189 "Link in footer and bio's collected"
Focallocal is a community of volunteers creating projects to bring more peace and happiness into this World.

[Hero's who Built this Project](http://news.focallocal.org/2017/03/17/
the-brighter-tomorrows-map-formerly-street-sleeper-resource-map
/‎)
[link should be editable in il8n for the Gather map launch/article]

Bios collected from @mordka @distalx @ydaniel98 @Spartano

if you are ok with bein

[2017-03-17 02:58] AndyatFocallocal commented on #84
update: the menu is being rebuilt by @ydaniel98 @Spartano

left side (navigation):

order left to right
1) About Us
http://focallocal.org

drop downs:
1.1.) hire us
(to be created)
http://hire.focallocal.org
1.2) community values
http://news.focallocal.org/the-focallocal-community-values/
1.3.) F.A.Q
(to be created)
http://news.focallocal.org/faqs
1.4.) the road to Focallocal
http://news.focalloca

[2017-03-22 04:23] AndyatFocallocal commented on #10
@Spartano @ydaniel98 this issue is complete now, right?

[2017-03-22 04:30] AndyatFocallocal opened #205 "UI: change two finger map scrolling on mobile to use the standard google maps system"
on a mobile device the map scrolls using the two finger method, which the UI team said has mostly been retired as users didnt like it. as we are using Google Maps anyway, i imagine (hope) switching to use the current google maps navigation method on a touch screen/mobile device should be a fairly simple task

[2017-03-22 04:51] AndyatFocallocal opened #206 "Print button moved bottom left, next to +/- keys. Text updated"
This Feature is in Development

This feature is being developed by volunteers at the Focalocal Positive Action Community. If you have any skills that would help bring this map to more people in need you are welcomed to join us!

Contact us at: contact@focallocal.org
Checkout our project at our github

note: removed Opensource as i'm not sure that Pawel set the license as fully opensource, i need t

[2017-03-22 05:03] AndyatFocallocal opened #207 "1.5. Tag Clouds added from commonly used locations"
On Window 3 a tag cloud should appear

upon adding anything in the Gather Map

after clicking 'Offer a Resource' in the Brighter Tomorrows Map, but not after adding a resource which already exists (advancing using the standard 'Next' button

the Tag Cloud should generate the most commonly used locations in that city. this is essential in helping people to offer things to those who are homeless, as

[2017-03-22 05:19] AndyatFocallocal opened #208 "1.5 Window 7 pre-added text"
Linked to #207

the bottom text entry box 'Description' should be pulled and pre-filled from our Activities/Resources lists, based on the category they selected. The text will be visible and editable by the user.

if user selected 'Offer a Resource' (Brighter Tomorrows) or 'Something New' (Gatherings) the bottom description field will also pre-filled text, with titles to help structure and guide t

[2017-03-22 05:27] AndyatFocallocal opened #209 "1.5. pre-entered suggested meeting point, when user has clicked suggested location"
Clicking a commonly used location from the Tag Cloud in window 3 auto-generates a suggested meeting point in the text box, to help users. they can change this, its to save them leaving their entry and searching on google maps, etc to find a suitable park bench, or maybe they don't now the library they selected so they won't know where is a good meeting point.

This should be generated in the same

[2017-03-22 05:43] AndyatFocallocal opened #210 "pop up window on opening map"
The UX/UI Team felt it was not clear enough what a user should do when arriving on the map. The solution proposed was that on opening a dialogue window opens with three large stacked options to direct them

1. Your City
(search box zooms into your City when text entered)

2. Join (List View)
(redirects to list)

3. Add or Create
(opens standard window chain for adding activities/resources)

X - Cl

[2017-03-22 05:44] AndyatFocallocal opened #211 "Search Box repaired"
search box for cities has broken on the map and list

[2017-03-22 05:45] AndyatFocallocal commented on #113
closed issue. great job its an excellent solution

[2017-03-22 05:45] #113 closed

[2017-03-22 05:46] #105 closed

[2017-03-22 05:47] #104 closed

[2017-03-22 05:48] #36 closed

[2017-03-22 06:03] AndyatFocallocal opened #212 "window 5 edited in Brighter Tomorrows Map"
window 5 text can say 'how to find/meet'. this would make it usable for both maps

[2017-03-22 06:15] AndyatFocallocal opened #213 "Window 5: opening hours option added for person entering details"
In the Brighter Tomorrows Map would need to display opening hours on many of its resources, rather than it having one specific time the activity occurs.

we could resolve this by allowing the user creating a listing whether to select:

1) date (current setup)
2) regular opening hours
i.e mon-thurs, 10:00 - 14:00

(a fixed resource like a shelter will not have a start and end date as our current sy

[2017-03-22 06:21] #10 closed

[2017-03-22 06:22] #179 closed

[2017-03-22 06:23] AndyatFocallocal commented on #100
also noticed, the button doesn't appear to be working atm

[2017-03-29 20:43] #84 closed

[2017-03-29 21:14] ydaniel98 commented on #211
@AndyatFocallocal The api key needs to be enabled with the google maps search api

[2017-03-29 21:17] #206 closed

[2017-04-03 11:14] AndyatFocallocal commented on #211
complete. great work @ydaniel98

[2017-04-03 11:14] #211 closed

[2017-04-09 23:31] AndyatFocallocal opened #232 "New temporary button to join the build and modal"
adding a button underneath the print button saying 'join in or support the build' which opens another modal.

the button would be temporary, but it would be nice to turn any interest into people helping us with the build :)

this one would have 3 buttons, plus the close button:

Developers
(linking to: http://discuss.focallocal.org/c/hack-homelessness-and-happiness/meteor-dev-brighter-tomorrows-ga

[2017-04-13 19:36] AndyatFocallocal commented on #232
great job @ydaniel98 it looks perfect

dont forget to close them once complete

[2017-04-13 19:36] #232 closed

[2017-04-15 16:19] AndyatFocallocal opened #258 "Small change: suggestions button open in new tab"
Set the suggestions button in modal window 1 to open in new tab, so users don't have to navigate back and start again afterwards

[2017-04-15 17:27] AndyatFocallocal opened #261 "Contact details!"
The map currently shows the event/creators email address in the event/resource window. That is a privacy issue for users.

Can we replace it with text entered in a text entry box underneath 'how to find' in the 5th modal window. The new text entry box would say 'if you need to contact me', so they choose to enter a contact method they are comfortable with

on the event/resource page it should be a

[2017-04-15 17:57] AndyatFocallocal opened #262 "BUG: After creating a listing can't click items on map"
After creating a listing users can't click items on the map.

It's due to these characters ' #!' ' at the end of the URL address. Deleting them solves the issue

[2017-04-15 20:38] #205 closed

[2017-05-17 00:00] AndyatFocallocal opened #273 "email all activity attendees after an event to gather feedback and give options"
Gatherings Map:

The email should allow members to give a thumbs up or down to the organiser about their event, or report them. (so we can have a system removing anyone messing around or abusing the system)

a feedback and thanks form to the organiser.

it should also invite members to:

1) write an article about their experience and how those you met reacted, to spread the smiles to thousands mor

[2017-05-17 01:44] AndyatFocallocal opened #274 "on the global (zoomed out) view dots appear about 100miles to the south of where they should be"

[2017-05-19 00:59] #100 closed

[2017-05-19 01:01] #210 closed

[2017-05-19 01:01] #213 closed

[2017-05-19 01:01] #212 closed

[2017-05-19 11:30] AndyatFocallocal opened #277 "Listing creators can set a limit to attendees"
when creating an activity users can set how many people they want to join them.

for example if i'm offering to teach web design to someone who is homeless at the local library, i might only want one person to come along

or if i'm running take a smile, i might prefer to have 5 people with me, rather than it snowballing to 50+ which for some people would be overwhelming

[2017-05-19 13:06] AndyatFocallocal opened #278 "dual colours in dots - outer ring"
many of the dots appear camouflaged on the map. can we give them a black outer ring or line around their sides? or perhaps a prominent drop shadow/3d definition on the dot

they are perfectly visible when merged on the zoomed out view so there is no requirement to change this

[2017-05-26 16:18] #274 closed

[2017-05-26 16:43] #278 closed

[2017-05-26 16:47] ydaniel98 commented on #262
Couldn't replicate

[2017-05-26 16:47] #262 closed

[2017-05-26 17:13] ydaniel98 commented on #258
The button was removed temporarily.

[2017-05-26 17:13] #258 closed

[2017-06-02 16:02] AndyatFocallocal opened #301 "ability to select more than one category"
on the resources map users might want to select more than one category. for example, they might want to tell users that a shelter has showers, washing machines, free internet use, etc

[2017-06-17 20:47] #277 closed

[2017-06-21 08:38] AndyatFocallocal commented on #261
@ydaniel98 i cant see this issue anymore. have you resolved it?

[2017-06-21 08:53] AndyatFocallocal opened #308 "Map opens on Europe and USA view"
the map zoom is perfect as it is. initially we expect our main markets to be the Northern hemisphere, i'd like it to display that when it loads. this view

![image](https://user-images.githubusercontent.com/16229696/27375516-5ce80906-5667-11e7-99ea-10782236a92f.png)

[2017-06-21 10:14] AndyatFocallocal opened #309 "Report button sends report to admins"
currently the report button in each activity/resource listed is not operational, leaving us open to abuse. this task is urgent, but might require user levels and mods to be implemented 1st

[2017-06-29 04:52] AndyatFocallocal opened #319 "change entry's to only list on map when user completes entry forms"
currently if a user begins, completes a few modals, then gets board and stops. the system still creates a listing. please change that to only when a user completes the last modal window (before the share your activity pop up)

[2017-07-01 12:16] nsrtky opened #321 "Routing Main Board After First Time Register Should have been showing register form again."
after completing registration then we dont need register form,which is blue background color at sing-in route.
i am going to share its prntscrn.

![image](https://user-images.githubusercontent.com/12385044/27761948-110c529c-5e70-11e7-97b3-728c63c35d64.png)

[2017-07-01 12:27] nsrtky opened #322 "When New Gather Need Help Link Not Working. 404"
We need update need help its realy usefull at the beging.

![image](https://user-images.githubusercontent.com/12385044/27762029-898a50ba-5e71-11e7-9070-7f314d7b39f7.png)

[2017-07-01 12:30] nsrtky opened #323 "New Gather Address Field Not Accepting Turkey,İstanbul,Bebek..."
İ have not able to create a new gather at the address screenshot is below ? Does anyone has similar problem ?

![image](https://user-images.githubusercontent.com/12385044/27762041-ee082d96-5e71-11e7-8670-cdba76d26485.png)

[2017-07-01 13:52] AndyatFocallocal commented on #323
@nsrtky i think you'll need to add a street address or post code there

[2017-07-01 13:53] AndyatFocallocal commented on #322
@nsrtky
ah yes. we need to create a guide there. its on the task list. i'll set up a placeholder page at that address now to help

[2017-07-01 13:59] AndyatFocallocal commented on #321
that's the login screen for the news site and the forums.

we've sync'd the login on news.focallocal.org and discuss.focallocal.org, but haven't sync'd that with the maps yet. i'd love to get it done, but it is a large task

i've read that the login pages dislike that we aren't using SSL and that might be causing problems. if not i'll have a look around and see if i can see how to redirect back to

[2017-07-01 14:14] AndyatFocallocal opened #324 "create xml sitemap"
the map isn't indexing well ..or at all in search engines.

can someone please add a sitemap to both maps, including the page at action.focallocal.org, news.focallocal.org, shop.focallocal.org

also send it to me so i can add it to google analytics. right now our site is basically on the dark web

here is a guide: https://juststartworking.com/meteor-and-seo-the-right-way/

[2017-07-01 15:39] nsrtky commented on #324
its better do it byself here i am going to share google help link.

https://support.google.com/webmasters/answer/183668?hl=en

[2017-07-01 19:23] AndyatFocallocal commented on #324
@nsrtky meteor has issues with seo, so the site map doesn't work properly or link to other areas of the website. we need to install a package to make it easier for bots to crawl

[2017-07-01 20:30] nsrtky opened #325 "Creating Gather Give Address Error at eventsForm.js line 18"
ı have tried creating new gather than filled textfields as below but not let me cos of address its taking place at eventsForm.js 18 lines.

![image](https://user-images.githubusercontent.com/12385044/27765245-397cea94-5eb5-11e7-958d-205d47d1961f.png)

![image](https://user-images.githubusercontent.com/12385044/27765235-fd59760e-5eb4-11e7-87b1-a9400d885b7e.png)

[2017-07-02 11:17] nsrtky commented on #325
i have tried to connect mongodb via below tool but its not working does any one achieve to connect meteor mongodb collections?
it has told us coordinate required but undefined ?

![image](https://user-images.githubusercontent.com/12385044/27769400-29308570-5f31-11e7-855a-b3f52ad07dbb.png)

the tool i have wanted to see collection in project ?
![image](https://user-images.githubusercontent.com/1238

[2017-07-02 11:26] nsrtky commented on #38
https://themeteorchef.com/tutorials/working-with-ssl at the link chef shows it use your server rights and try it.

[2017-07-02 11:53] AndyatFocallocal commented on #38
@nsrtky i'm uncomfortable with the technical aspects of setting that up. happy to give you access server-side though

[2017-07-02 11:54] AndyatFocallocal commented on #325
@nsrtky please post in the forum and tag @ydaniel98 and @Spartano as they may be familiar with the issue. thank you

http://discuss.focallocal.org/t/meteor-maps/165/140

[2017-07-02 11:57] nsrtky commented on #323
i have deactive address checking at event.js so we are able to add new gather at the moment. May this will have been a work around solution at the moment by time we can solve checking also

![image](https://user-images.githubusercontent.com/12385044/27769623-a4d7e7fe-5f36-11e7-8f3e-9abcca01151c.png)

[2017-07-02 12:27] AndyatFocallocal commented on #323
ok. can you create a pull request?

[2017-07-02 17:06] nsrtky commented on #323
may you tell me which button or link at which are of web app should have be able to pull request? if you ask for git hup ı have uploaded the codes at my fork over server ? https://github.com/nsrtky/fl-maps/commit/9017e7d372dcb6c5f0e12bd8e4ac3e27de901361

[2017-07-04 21:49] Spartano commented on #325
try this, https://stackoverflow.com/questions/27190633/robomongo-connection-with-meteor-mongodb

[2017-07-13 23:25] AndyatFocallocal opened #329 "Colour picker has disappeared from admin area"
minor bug. in godmode the colour picker has disappeared when adding a new gather. i can use hex to make it work though (although its very cluttered. we need expanding soon)

[2017-07-13 23:47] AndyatFocallocal opened #330 "add <br />'s into 'selectable' div"
can we please separate this text so its not an unfriendly wall of text for users

while doing that it might be a good idea to auto-shorten the links

![image](https://user-images.githubusercontent.com/16229696/28192390-bfaa5652-682d-11e7-8ef2-22a650467505.png)

[2017-07-19 14:07] ydaniel98 commented on #329
@AndyatFocallocal I just fixed it. It turns out a lot of code was re-running unnecessarily.

[2017-07-19 14:07] #329 closed

[2017-07-19 14:14] ydaniel98 commented on #324
@nsrtky Are you on this or can I give it a go?
@AndyatFocallocal Was the site map added?

[2017-07-19 14:18] ydaniel98 commented on #319
@AndyatFocallocal Could you specify what you mean? I couldn't replicate it.

[2017-07-19 14:27] #308 closed

[2017-07-19 14:32] ydaniel98 commented on #309
@AndyatFocallocal An email or on-site message? Also, we can implement it with admins only first and then make it more complex later.

[2017-07-19 14:34] ydaniel98 commented on #35
@AndyatFocallocal This is mainly just a button and a few css media queries.

[2017-07-20 17:23] ydaniel98 commented on #35
@AndyatFocallocal
[print-beta-1.pdf](https://github.com/focallocal/fl-maps/files/1163174/print-beta-1.pdf)

[2017-07-21 01:51] AndyatFocallocal commented on #324
@ydaniel98 i haven't heard from @nsrtky for a few days and he was going to push his updates across next time he works on the map. he's using the forum so you can contact him there and ask

[2017-07-21 01:53] AndyatFocallocal commented on #319
i think it may be resolved. i was finding that if i begun creating a event and then stopped at modal window 4 for example, it would create a half finished event. i haven't noticed that in the last week so i think its fixed

[2017-07-21 01:54] AndyatFocallocal commented on #308
@ydaniel98 nice!

[2017-07-21 01:55] AndyatFocallocal commented on #309
admins 1st would be fine. i'd say emails would be faster

[2017-07-21 01:56] AndyatFocallocal commented on #309
@ydaniel98 maybe both actually, so in the future admins and mods can choose which they'd prefer

[2017-07-21 02:04] AndyatFocallocal commented on #35
@ydaniel98 good start. its going to need issues solved;

1) printing in colour is expensive, but our legend is useless without it. perhaps converting the dots and legend icon colours into numbers when printing would be possible so users could print in greyscale?

2) we'd also want "name", "address", "category" and "opening hours" to print in a list below the map, or on the next page/s, pulling tho

[2017-07-21 02:15] AndyatFocallocal commented on #35
obviously we'd need to cap the maximum number of listings printed, either by ignoring over a value, or advising users to use filters to reduce the number.

in case someone decided to print the World map and there were 20,000 or so listings it printed

[2017-07-21 16:09] #319 closed

[2017-07-21 16:29] ydaniel98 commented on #309
@AndyatFocallocal I'll increase the functionality of the admin dashboard.

[2017-07-23 21:11] AndyatFocallocal commented on #309
@ydaniel98 i dont receive notifications here (not sure why). better to contact me on the discuss forum

[2017-07-24 15:20] AndyatFocallocal opened #347 "add space to stop auto-fill covering address selector"
![image](https://user-images.githubusercontent.com/16229696/28530455-cde4b18e-708b-11e7-972d-28c8d3d5fef8.png)

[2017-07-24 17:29] AndyatFocallocal opened #350 "move 'toggle' in key/legend to top right of window"
users have to scroll down to see it right now

[2017-07-24 23:16] AndyatFocallocal opened #351 "set up a script to pull resources from the pavement"
there's a heap of resources here we can pull directly into our map to give it a big useability boost: http://www.thepavement.org.uk/services.php?facility=&service=&city=

it would probably require setting up new categories, and enabling subcategories and multiple categories as our current key/legend will not be able to handle this many categories, and it would recreate many listings which appear i

[2017-07-25 00:24] AndyatFocallocal opened #352 "time selector needs to offer full 24 hour clock"
the current time selector only goes from 8.30am till 23.30pm

@nsrtky would pushing the time selector you built be able to resolve this?

[2017-07-25 15:24] #352 closed

[2017-07-25 15:30] AndyatFocallocal opened #358 "add a url shortener for any url added into a text box"
the long strings are messy. for example: http://brightertomorrowmap.com/events/LsNjqtGitkPDEGhba

[2017-07-25 17:30] AndyatFocallocal opened #361 "switch icon positions"
swap the position of the delete and share icons. doesn't matter if users accidentally click share, but we don't want them accidentally clicking delete.

![image](https://user-images.githubusercontent.com/16229696/28585122-256189a6-7167-11e7-9777-47e5b7cab996.png)

[2017-07-25 17:37] AndyatFocallocal opened #362 "copy the edit button into the list view so mods can find and edit listings easier"
![image](https://user-images.githubusercontent.com/16229696/28585511-4a92a84e-7168-11e7-93c6-179d92906d0d.png)

[2017-07-26 03:02] AndyatFocallocal opened #365 "set all posts on the brighter tomorrow map to autopost to our twitter account"
this should create a constant drip of attention for the map, especially if it auto includes one or two words about what the map is doing. "support people who are homeless nearby"?

https://twitter.com/BrighterMap?lang=en

[2017-07-27 13:33] ydaniel98 opened #373 "Button to edit links has no icon."
On the 'show more' view of an event, the social card should have an edit icon.

[2017-07-27 13:39] ydaniel98 opened #374 "Category deletion breaks active events."
If an admin removes a category, events of that category should not be displayed. Notification to the organiser?

Server/publications/events.js - The query fetches enabled categories, it should also check if the category exists.

[2017-07-27 13:42] ydaniel98 commented on #374
The bug is also present when a category is disabled.

[2017-07-31 14:30] #39 closed

[2017-07-31 14:30] #92 closed

[2017-07-31 14:30] #101 closed

[2017-07-31 14:30] #124 closed

[2017-08-03 13:22] AndyatFocallocal opened #387 "house number only works after road name"
the house numbers only work if they are added after the road name. we will require it to work both before and after as some cultures put it before and some afterwards, both need to be able to use the map comfortably

![image](https://user-images.githubusercontent.com/16229696/28923768-0870957a-7857-11e7-8b04-a78c703ae049.png)

![image](https://user-images.githubusercontent.com/16229696/28923810-3c

[2017-08-03 13:34] AndyatFocallocal opened #388 "dots in same place aren't viewable"
this issue was previously working by separating the dots when clicked or zoomed in and displaying a line between them to show they are in the same location

it seems that function has broken

![image](https://user-images.githubusercontent.com/16229696/28924203-cd7e4fb4-7858-11e7-8aeb-8f46facd965c.png)

[2017-08-03 14:37] AndyatFocallocal opened #389 "add link to more info section so users can link to the sites website"
this function is already available in the event listing. it just needs to be added to the modals, and it should display as a link, rather than a huge string

for example: <a href="url entered in modal">website link</a>

![image](https://user-images.githubusercontent.com/16229696/28926905-13223384-7861-11e7-9ad5-9a53cd159ff5.png)

[2017-08-03 14:38] AndyatFocallocal opened #390 "text fields overlapping"
![image](https://user-images.githubusercontent.com/16229696/28927178-c75e5788-7861-11e7-9ef2-9d17d59b52a4.png)

[2017-08-06 22:51] AndyatFocallocal opened #391 "In list view listings not in the city searched for should be hidden when searching"
![image](https://user-images.githubusercontent.com/16229696/29007748-e24af4e6-7b01-11e7-9644-b997a6de287a.png)

also, while looking at the system please comment on the list views ability to handle thousands of listings. will it try to load them all in this window and slow the site down? or will it only display X amount, until a user searches for their city

[2017-08-06 22:55] AndyatFocallocal opened #392 "search bar in list view should be the main focus of the user when arriving on the page"
don't arriving on this page are not aware that they should type their city into the box to search for nearby listings. please make the search bar the 1st thing users see when looking at the page and change the text to read 'type your location here'

![image](https://user-images.githubusercontent.com/16229696/29007761-3f424960-7b02-11e7-9aa8-cad7aea53be3.png)

[2017-08-08 15:45] ydaniel98 commented on #323
@nsrtky @AndyatFocallocal This seems to have been fixed.

[2017-08-08 15:45] #323 closed

[2017-08-08 15:53] AndyatFocallocal commented on #323
@ydaniel98 in a sense yes, and in another sense no. the issue really is that different cultures enter addresses in different formats. Greg is having a look at a solution, which i think will probably end up by asking for each element separately. street, town, house number, etc

[2017-08-08 15:55] AndyatFocallocal commented on #390
@ydaniel98 remember to close issues so others don't repeat your excellent work

[2017-08-08 15:56] ydaniel98 commented on #390
@AndyatFocallocal I haven't fixed this one

[2017-08-08 15:57] ydaniel98 commented on #390
I fixed the text overlap in home.html when viewing on mobile.

[2017-08-08 15:57] AndyatFocallocal commented on #390
sorry my mistake. the title was similar to this one: https://github.com/focallocal/fl-maps/pull/393#event-1197444735

[2017-08-09 17:07] #392 closed

[2017-08-10 16:31] #391 closed

[2017-08-12 22:11] AndyatFocallocal opened #399 "Buttons in modal window align incorrectly on mobile"
![image](https://user-images.githubusercontent.com/16229696/29244598-faa926e6-7fb3-11e7-944d-4b7193830144.png)

[2017-08-14 14:28] AndyatFocallocal opened #400 "Modal Window 3. Add 'My Current Location'"
rather than entering an address the map can use their devices location feature to find where they are and suggest it

[2017-08-16 15:22] ydaniel98 opened #401 "Page load speed optimization"
Optimize page loading speed.

This tool can help: https://developers.google.com/speed/pagespeed/insights/

<img width="1280" alt="screen shot 2017-08-15 at 3 05 16 pm" src="https://user-images.githubusercontent.com/11820758/29371032-2f294dce-8275-11e7-83f1-c8293f1055cb.png">

[2017-08-17 15:38] #373 closed

[2017-08-18 15:37] #361 closed

[2017-08-21 17:06] #390 closed

[2017-08-23 16:09] ydaniel98 commented on #387
@AndyatFocallocal We could have some js running to format the address while the user types.

[2017-08-29 16:21] AndyatFocallocal commented on #189
this is being handles via a Trello plugin and so i no longer needed as a Meteor development

[2017-08-29 16:21] #189 closed

[2017-12-19 05:25] AndyatFocallocal opened #413 "Launch!"
focallocal/hackers

thank you all for the amazing work you've all put in to get us here! after lots of false dawns, long stretches where it was just me alone stubbornly keeping this idea ticking forwards, and times when a few of you came together and the vision of a more connected world to transform homelessness flew forwards. We now expect the map to be at a point where the public can comfortably

[2018-01-05 11:11] #413 closed

[2018-01-31 13:11] AndyatFocallocal commented on #389
update.
on the full screen listing you can add a link. i'd like to have the ability added to the modal window above

the listing needs to display a hyperlink with the text 'link', rather than showing the full string which is messy and often too long for the window

[2018-01-31 13:12] AndyatFocallocal commented on #388
@ydaniel98 when you find a solution can you mark this as closed please

[2018-01-31 13:15] AndyatFocallocal commented on #261
i believe this is fixed. @ydaniel98 can you plz confirm and close this issue if correct?

[2018-02-02 06:05] #45 closed

[2018-02-02 06:07] AndyatFocallocal commented on #38
Flooded is working on SSL right now. hopefully it will be complete in a week or two

[2018-02-15 18:19] AndyatFocallocal opened #430 "remove extra menu shop link"
this extra menu item can be removed. infact both drop downs can. there is only one shop and its at this address: shop.focallocal.org

![image](https://user-images.githubusercontent.com/16229696/36273494-9547c88c-127c-11e8-98cc-f93e59853c42.png)

[2018-02-28 17:04] AndyatFocallocal opened #431 "set up error message when user clicks next and hasnt entered location correctly"
![image](https://user-images.githubusercontent.com/16229696/36801163-30ac66ee-1ca9-11e8-8279-24457e4964ef.png)

the location finder software isnt amazing and often users click next when it hasnt found the location. perhaps we could also add a postcode/zip code finder option to help users

[2018-02-28 17:11] AndyatFocallocal opened #432 "hide 'next' in last modal window"
users reported being confused why it was greyed out. it would be better to idiot proof it by hiding it and so only 'back' and 'submit' are visible

![image](https://user-images.githubusercontent.com/16229696/36801565-632bea94-1caa-11e8-9188-f4f2b437093e.png)

[2018-02-28 21:34] AndyatFocallocal opened #433 "change grey text 'limit' to 'attendee limit'. a user got confused here"
![image](https://user-images.githubusercontent.com/16229696/36814314-0c1ffd42-1ccf-11e8-9287-8399d1e149fa.png)

[2018-03-08 20:15] AndyatFocallocal opened #434 "Create Android and OS App for our site"
If you'd like to make a focallocal app. it looks fairly straight forwards for someone who knows a bit about web dev. just a browser which opens on our website. everything else has been designed to be an app so it should work immediately, and once active we can optimise the site to improve its use as an app

discussion and links on creating an app, for those using a discourse forum
https://meta.dis

[2018-03-16 20:30] Ziinc commented on #401
Can be accomplished through lazy loading of packages. Might have to upgrade to meteor 1.5 and above though.

[2018-03-16 20:36] Ziinc opened #437 "Upgrading tests to use chimp/mocha/chai"
The old tests are using cucumber and velocity and has not been maintained.

All test related files will be removed, including shell scripts. These will be re-implemented as mocha tests, and npm scripts.

Currently, travis CI build does not include a testing stage. Will look into adding the acceptance test stage as well.

[2018-03-16 21:16] AndyatFocallocal commented on #401
@Ziinc we upgraded to 1.4 about 1.5 years ago. it took months to get everything running again. it would be great as long as we have enough devs who agree to see the process through, and we have a test server so the live site doesn't go down.

[2018-03-23 15:15] AndyatFocallocal commented on #38
@flooded77 (on Slack) is working on SSL, please contact him before beginning this task to check the current state of the SSL set up

[2018-03-23 15:16] AndyatFocallocal commented on #38
Wekan hasn't been set up yet so you can have a fresh database to work with there, or link it to another database from the beginning

[2018-03-23 15:17] AndyatFocallocal commented on #15
contact me if you'd like a basic mockup of the above details

[2018-04-11 18:50] Ziinc commented on #437
Update on progress:
- Meteor has to be updated to 1.4.4.6, such that node version is 4.9.
    - Node v0.10.46 is end of life, so upgrade would increase security, performance.
    - Node 4/5 is required for chimp, the acceptance test runner we'll be using. Node fiber issues will occur on node v0.10.X.
- Chimp version is v0.45.1, as it is the last version that supports node v4.9. Any higher version

[2018-04-14 01:01] AndyatFocallocal commented on #437
@Ziinc great effort :+1:

[2018-04-15 21:16] AndyatFocallocal commented on #324
the sitemap was not added. i'd suggest a little research 1st as it sounds like spiderly is a bit behind times and vulnerable to google crawls overwhelming it in the semblance for a DDOS attack.

prerender.io is an opensource alternative. i'm not sure whether docker would make this a longer task to set up. here's a relevant discussion: https://forums.meteor.com/t/what-is-prerender-io-doing-that-i-c

[2018-04-15 21:53] AndyatFocallocal commented on #15
note: the profiles on Discourse (discuss.focallocal.org) are far superior to wordpress and easier to work with.

here's a guide for integrating Discourse profiles and comment system into Meteor: https://forums.meteor.com/t/discourse-meteor-forums-blog/25017

[2018-04-15 22:02] AndyatFocallocal commented on #38
Discourse has the most developed User Profile and Messaging system, can be integrated with Meteor and profiles are developed to be easy to sync.

Here's a guide: https://forums.meteor.com/t/discourse-meteor-forums-blog/25017

[2018-04-16 08:50] nsrtky commented on #324
Hi Andy we can use google web master tool for agile solution. https://www.google.com/webmasters/tools/ still looking for ssl certificate for production Does anyone else found something?

[2018-04-16 09:31] AndyatFocallocal commented on #324
@nsrtky would you like to have a go at it?

[2018-04-16 15:25] mordka commented on #324
Hey guys,
We have `spiderable` package installed but to make it working, the server
side needs to have phantomjs installed and available in the $PATH variable.
Read README of the package.
For SSL I recommend Lets Encrypt, it's easy to install, but Im unsure about
how it integrates with the deployment solution used recently.

pon., 16 kwi 2018 o 10:32 użytkownik AndyatFocallocal <
notifications@git

[2018-04-16 21:58] AndyatFocallocal commented on #15
Here's an idea of what the user profiles currently contain: http://discuss.focallocal.org/u/Andy_at_Focallocal/summary
(sign up/log in required)

Here's thoughts on how we can allow users to add more photos, list their location, expand their bio, etc

https://meta.discourse.org/t/expanded-profiles-has-anyone-already-done-it/85467

[2018-04-28 17:40] AndyatFocallocal commented on #434
This issue was moved to AndyatFocallocal/temp#1

[2018-04-28 17:43] AndyatFocallocal opened #439 "Create Android and OS App for our site"
If you'd like to make a focallocal app. it looks fairly straight forwards for someone who knows a bit about web dev. just a browser which opens on our website. everything else has been designed to be an app so it should work immediately, and once active we can optimise the site to improve its use as an app

discussion and links on creating an app, for those using a discourse forum
https://meta.dis

[2018-04-28 17:45] #434 closed

[2018-04-28 17:46] AndyatFocallocal commented on #401
This issue was moved to AndyatFocallocal/temp#2

[2018-04-28 17:46] #401 closed

[2018-04-28 17:47] AndyatFocallocal opened #440 "Page load speed optimization"
Optimize page loading speed.

This tool can help: https://developers.google.com/speed/pagespeed/insights/

<img width="1280" alt="screen shot 2017-08-15 at 3 05 16 pm" src="https://user-images.githubusercontent.com/11820758/29371032-2f294dce-8275-11e7-83f1-c8293f1055cb.png">

[2018-04-28 17:47] AndyatFocallocal commented on #440
_From @Ziinc on March 16, 2018 20:30_

Can be accomplished through lazy loading of packages. Might have to upgrade to meteor 1.5 and above though.

[2018-04-28 17:47] AndyatFocallocal commented on #440
@Ziinc we upgraded to 1.4 about 1.5 years ago. it took months to get everything running again. it would be great as long as we have enough devs who agree to see the process through, and we have a test server so the live site doesn't go down.

[2018-04-28 17:49] AndyatFocallocal commented on #433
This issue was moved to AndyatFocallocal/temp#3

[2018-04-28 17:49] #433 closed

[2018-04-28 17:57] AndyatFocallocal commented on #432
This issue was moved to AndyatFocallocal/temp#4

[2018-04-28 17:57] #432 closed

[2018-04-28 17:57] AndyatFocallocal commented on #431
This issue was moved to AndyatFocallocal/temp#5

[2018-04-28 17:57] #431 closed

[2018-04-28 17:58] AndyatFocallocal commented on #430
This issue was moved to AndyatFocallocal/temp#6

[2018-04-28 17:58] #430 closed

[2018-04-28 17:58] AndyatFocallocal commented on #400
This issue was moved to AndyatFocallocal/temp#7

[2018-04-28 17:58] #400 closed

[2018-04-28 18:00] AndyatFocallocal commented on #399
This issue was moved to AndyatFocallocal/temp#8

[2018-04-28 18:00] #399 closed

[2018-04-28 18:00] AndyatFocallocal commented on #389
This issue was moved to AndyatFocallocal/temp#9

[2018-04-28 18:00] #389 closed

[2018-04-28 18:00] AndyatFocallocal commented on #388
This issue was moved to AndyatFocallocal/temp#10

[2018-04-28 18:00] #388 closed

[2018-04-28 18:02] AndyatFocallocal commented on #387
This issue was moved to AndyatFocallocal/temp#11

[2018-04-28 18:02] #387 closed

[2018-04-28 18:02] AndyatFocallocal commented on #374
This issue was moved to AndyatFocallocal/temp#12

[2018-04-28 18:02] #374 closed

[2018-04-28 18:02] AndyatFocallocal commented on #365
This issue was moved to AndyatFocallocal/temp#13

[2018-04-28 18:02] #365 closed

[2018-04-28 18:03] AndyatFocallocal commented on #362
This issue was moved to AndyatFocallocal/temp#14

[2018-04-28 18:03] #362 closed

[2018-04-28 18:07] AndyatFocallocal commented on #358
This issue was moved to AndyatFocallocal/temp#15

[2018-04-28 18:07] #358 closed

[2018-04-28 18:08] AndyatFocallocal commented on #351
This issue was moved to AndyatFocallocal/temp#16

[2018-04-28 18:08] #351 closed

[2018-04-28 18:08] AndyatFocallocal commented on #350
This issue was moved to AndyatFocallocal/temp#17

[2018-04-28 18:08] #350 closed

[2018-04-28 18:09] AndyatFocallocal commented on #347
This issue was moved to AndyatFocallocal/temp#18

[2018-04-28 18:09] #347 closed

[2018-04-28 18:09] AndyatFocallocal commented on #330
This issue was moved to AndyatFocallocal/temp#19

[2018-04-28 18:09] #330 closed

[2018-04-28 18:10] AndyatFocallocal commented on #325
This issue was moved to AndyatFocallocal/temp#20

[2018-04-28 18:10] #325 closed

[2018-04-28 18:10] AndyatFocallocal commented on #324
This issue was moved to AndyatFocallocal/temp#21

[2018-04-28 18:10] #324 closed

[2018-04-28 18:11] AndyatFocallocal commented on #322
This issue was moved to AndyatFocallocal/temp#22

[2018-04-28 18:11] #322 closed

[2018-04-28 18:11] AndyatFocallocal commented on #321
This issue was moved to AndyatFocallocal/temp#23

[2018-04-28 18:11] #321 closed

[2018-04-28 18:14] AndyatFocallocal commented on #273
This issue was moved to AndyatFocallocal/temp#24

[2018-04-28 18:14] #273 closed

[2018-04-28 18:14] AndyatFocallocal commented on #261
This issue was moved to AndyatFocallocal/temp#25

[2018-04-28 18:14] #261 closed

[2018-04-28 18:14] AndyatFocallocal commented on #209
This issue was moved to AndyatFocallocal/temp#26

[2018-04-28 18:14] #209 closed

[2018-04-28 18:15] AndyatFocallocal commented on #208
This issue was moved to AndyatFocallocal/temp#27

[2018-04-28 18:15] #208 closed

[2018-04-28 18:15] AndyatFocallocal commented on #207
This issue was moved to AndyatFocallocal/temp#28

[2018-04-28 18:15] #207 closed

[2018-04-28 18:15] AndyatFocallocal commented on #136
This issue was moved to AndyatFocallocal/temp#29

[2018-04-28 18:15] #136 closed

[2018-04-28 18:16] AndyatFocallocal commented on #109
This issue was moved to AndyatFocallocal/temp#30

[2018-04-28 18:16] #109 closed

[2018-04-28 18:16] AndyatFocallocal commented on #82
This issue was moved to AndyatFocallocal/temp#31

[2018-04-28 18:16] #82 closed

[2018-04-28 18:16] AndyatFocallocal commented on #77
This issue was moved to AndyatFocallocal/temp#32

[2018-04-28 18:16] #77 closed

[2018-04-28 18:17] AndyatFocallocal commented on #58
This issue was moved to AndyatFocallocal/temp#33

[2018-04-28 18:17] #58 closed

[2018-04-28 18:17] #50 closed

[2018-04-28 18:28] AndyatFocallocal commented on #22
This issue was moved to AndyatFocallocal/temp#39

[2018-04-28 18:28] #22 closed

[2018-04-28 18:28] AndyatFocallocal commented on #17
This issue was moved to AndyatFocallocal/temp#40

[2018-04-28 18:28] #17 closed

[2018-04-28 18:29] AndyatFocallocal commented on #16
This issue was moved to AndyatFocallocal/temp#41

[2018-04-28 18:29] #16 closed

[2018-04-28 18:29] AndyatFocallocal commented on #15
This issue was moved to AndyatFocallocal/temp#42

[2018-04-28 18:29] #15 closed

[2018-04-28 18:29] AndyatFocallocal commented on #12
This issue was moved to AndyatFocallocal/temp#43

[2018-04-28 18:29] #12 closed

[2018-04-28 18:30] #8 closed

[2018-04-28 18:30] AndyatFocallocal commented on #4
This issue was moved to AndyatFocallocal/temp#44

[2018-04-28 18:30] #4 closed

[2018-04-28 18:37] AndyatFocallocal opened #441 "change grey text 'limit' to 'attendee limit'. a user got confused here"
_From @AndyatFocallocal on April 28, 2018 17:49_

_From @AndyatFocallocal on February 28, 2018 21:34_

![image](https://user-images.githubusercontent.com/16229696/36814314-0c1ffd42-1ccf-11e8-9287-8399d1e149fa.png)

_Copied from original issue: focallocal/fl-maps#433_

_Copied from original issue: AndyatFocallocal/temp#3_

[2018-04-28 18:37] AndyatFocallocal opened #442 "hide 'next' in last modal window"
_From @AndyatFocallocal on April 28, 2018 17:57_

_From @AndyatFocallocal on February 28, 2018 17:11_

users reported being confused why it was greyed out. it would be better to idiot proof it by hiding it and so only 'back' and 'submit' are visible

![image](https://user-images.githubusercontent.com/16229696/36801565-632bea94-1caa-11e8-9188-f4f2b437093e.png)

_Copied from original issue: focalloc

[2018-04-28 18:38] AndyatFocallocal opened #443 "set up error message when user clicks next and hasnt entered location correctly"
_From @AndyatFocallocal on April 28, 2018 17:57_

_From @AndyatFocallocal on February 28, 2018 17:4_

![image](https://user-images.githubusercontent.com/16229696/36801163-30ac66ee-1ca9-11e8-8279-24457e4964ef.png)

the location finder software isnt amazing and often users click next when it hasnt found the location. perhaps we could also add a postcode/zip code finder option to help users

_Copied

[2018-04-28 18:38] AndyatFocallocal opened #444 "remove extra menu shop link"
_From @AndyatFocallocal on April 28, 2018 17:58_

_From @AndyatFocallocal on February 15, 2018 18:19_

this extra menu item can be removed. infact both drop downs can. there is only one shop and its at this address: shop.focallocal.org

![image](https://user-images.githubusercontent.com/16229696/36273494-9547c88c-127c-11e8-98cc-f93e59853c42.png)

_Copied from original issue: focallocal/fl-maps#430

[2018-04-28 18:39] AndyatFocallocal opened #445 "Modal Window 3. Add 'My Current Location'"
_From @AndyatFocallocal on April 28, 2018 17:58_

_From @AndyatFocallocal on August 14, 2017 14:28_

rather than entering an address the map can use their devices location feature to find where they are and suggest it

_Copied from original issue: focallocal/fl-maps#400_

_Copied from original issue: AndyatFocallocal/temp#7_

[2018-04-28 18:39] AndyatFocallocal opened #446 "Buttons in modal window align incorrectly on mobile"
_From @AndyatFocallocal on April 28, 2018 18:0_

_From @AndyatFocallocal on August 12, 2017 22:11_

![image](https://user-images.githubusercontent.com/16229696/29244598-faa926e6-7fb3-11e7-944d-4b7193830144.png)

_Copied from original issue: focallocal/fl-maps#399_

_Copied from original issue: AndyatFocallocal/temp#8_

[2018-04-28 18:39] AndyatFocallocal opened #447 "add link to more info section so users can link to the sites website"
_From @AndyatFocallocal on April 28, 2018 18:0_

_From @AndyatFocallocal on August 3, 2017 14:37_

this function is already available in the event listing. it just needs to be added to the modals, and it should display as a link, rather than a huge string

for example: <a href="url entered in modal">website link</a>

![image](https://user-images.githubusercontent.com/16229696/28926905-13223384-786

[2018-04-28 19:01] AndyatFocallocal opened #448 "add link to more info section so users can link to the sites website"
_From @AndyatFocallocal on April 28, 2018 18:0_

_From @AndyatFocallocal on August 3, 2017 14:37_

this function is already available in the event listing. it just needs to be added to the modals, and it should display as a link, rather than a huge string

for example: <a href="url entered in modal">website link</a>

![image](https://user-images.githubusercontent.com/16229696/28926905-13223384-786

[2018-04-28 19:01] AndyatFocallocal commented on #448
update.
on the full screen listing you can add a link. i'd like to have the ability added to the modal window above

the listing needs to display a hyperlink with the text 'link', rather than showing the full string which is messy and often too long for the window

[2018-04-28 19:02] AndyatFocallocal opened #449 "dots in same place aren't viewable"
_From @AndyatFocallocal on April 28, 2018 18:0_

_From @AndyatFocallocal on August 3, 2017 13:34_

this issue was previously working by separating the dots when clicked or zoomed in and displaying a line between them to show they are in the same location

it seems that function has broken

![image](https://user-images.githubusercontent.com/16229696/28924203-cd7e4fb4-7858-11e7-8aeb-8f46facd965c.png

[2018-04-28 19:02] AndyatFocallocal commented on #449
@ydaniel98 when you find a solution can you mark this as closed please

[2018-04-28 19:08] AndyatFocallocal opened #450 "house number only works after road name"
_From @AndyatFocallocal on April 28, 2018 18:2_

_From @AndyatFocallocal on August 3, 2017 13:22_

the house numbers only work if they are added after the road name. we will require it to work both before and after as some cultures put it before and some afterwards, both need to be able to use the map comfortably

![image](https://user-images.githubusercontent.com/16229696/28923768-0870957a-7857-1

[2018-04-28 19:08] AndyatFocallocal commented on #450
_From @ydaniel98 on August 23, 2017 16:9_

@AndyatFocallocal We could have some js running to format the address while the user types.

[2018-04-28 19:08] AndyatFocallocal opened #451 "Category deletion breaks active events."
_From @AndyatFocallocal on April 28, 2018 18:2_

_From @ydaniel98 on July 27, 2017 13:39_

If an admin removes a category, events of that category should not be displayed. Notification to the organiser?

Server/publications/events.js - The query fetches enabled categories, it should also check if the category exists.

_Copied from original issue: focallocal/fl-maps#374_

_Copied from original issu

[2018-04-28 19:08] AndyatFocallocal commented on #451
_From @ydaniel98 on July 27, 2017 13:42_

The bug is also present when a category is disabled.

[2018-04-28 19:08] AndyatFocallocal opened #452 "set all posts on the brighter tomorrow map to autopost to our twitter account"
_From @AndyatFocallocal on April 28, 2018 18:2_

_From @AndyatFocallocal on July 26, 2017 3:2_

this should create a constant drip of attention for the map, especially if it auto includes one or two words about what the map is doing. "support people who are homeless nearby"?

https://twitter.com/BrighterMap?lang=en

_Copied from original issue: focallocal/fl-maps#365_

_Copied from original issue:

[2018-04-28 19:08] AndyatFocallocal opened #453 "copy the edit button into the list view so mods can find and edit listings easier"
_From @AndyatFocallocal on April 28, 2018 18:3_

_From @AndyatFocallocal on July 25, 2017 17:37_

![image](https://user-images.githubusercontent.com/16229696/28585511-4a92a84e-7168-11e7-93c6-179d92906d0d.png)

_Copied from original issue: focallocal/fl-maps#362_

_Copied from original issue: AndyatFocallocal/temp#14_

[2018-04-28 19:08] AndyatFocallocal opened #454 "add a url shortener for any url added into a text box"
_From @AndyatFocallocal on April 28, 2018 18:7_

_From @AndyatFocallocal on July 25, 2017 15:30_

the long strings are messy. for example: http://brightertomorrowmap.com/events/LsNjqtGitkPDEGhba

_Copied from original issue: focallocal/fl-maps#358_

_Copied from original issue: AndyatFocallocal/temp#15_

[2018-04-28 19:08] AndyatFocallocal opened #455 "set up a script to pull resources from the pavement"
_From @AndyatFocallocal on April 28, 2018 18:8_

_From @AndyatFocallocal on July 24, 2017 23:16_

there's a heap of resources here we can pull directly into our map to give it a big useability boost: http://www.thepavement.org.uk/services.php?facility=&service=&city=

it would probably require setting up new categories, and enabling subcategories and multiple categories as our current key/legend w

[2018-04-28 19:09] AndyatFocallocal opened #456 "move 'toggle' in key/legend to top right of window"
_From @AndyatFocallocal on April 28, 2018 18:8_

_From @AndyatFocallocal on July 24, 2017 17:29_

users have to scroll down to see it right now

_Copied from original issue: focallocal/fl-maps#350_

_Copied from original issue: AndyatFocallocal/temp#17_

[2018-04-28 19:09] AndyatFocallocal opened #457 "add space to stop auto-fill covering address selector"
_From @AndyatFocallocal on April 28, 2018 18:9_

_From @AndyatFocallocal on July 24, 2017 15:20_

![image](https://user-images.githubusercontent.com/16229696/28530455-cde4b18e-708b-11e7-972d-28c8d3d5fef8.png)

_Copied from original issue: focallocal/fl-maps#347_

_Copied from original issue: AndyatFocallocal/temp#18_

[2018-04-28 19:09] AndyatFocallocal opened #458 "add <br />'s into 'selectable' div"
_From @AndyatFocallocal on April 28, 2018 18:9_

_From @AndyatFocallocal on July 13, 2017 23:47_

can we please separate this text so its not an unfriendly wall of text for users

while doing that it might be a good idea to auto-shorten the links

![image](https://user-images.githubusercontent.com/16229696/28192390-bfaa5652-682d-11e7-8ef2-22a650467505.png)

_Copied from original issue: focallocal/

[2018-04-28 19:09] AndyatFocallocal opened #459 "Creating Gather Give Address Error at eventsForm.js line 18"
_From @AndyatFocallocal on April 28, 2018 18:10_

_From @nsrtky on July 1, 2017 20:30_

ı have tried creating new gather than filled textfields as below but not let me cos of address its taking place at eventsForm.js 18 lines.

![image](https://user-images.githubusercontent.com/12385044/27765245-397cea94-5eb5-11e7-958d-205d47d1961f.png)

![image](https://user-images.githubusercontent.com/12385044/

[2018-04-28 19:09] AndyatFocallocal commented on #459
_From @nsrtky on July 2, 2017 11:17_

i have tried to connect mongodb via below tool but its not working does any one achieve to connect meteor mongodb collections?
it has told us coordinate required but undefined ?

![image](https://user-images.githubusercontent.com/12385044/27769400-29308570-5f31-11e7-855a-b3f52ad07dbb.png)

the tool i have wanted to see collection in project ?
![image](https://

[2018-04-28 19:09] AndyatFocallocal commented on #459
@nsrtky please post in the forum and tag @ydaniel98 and @Spartano as they may be familiar with the issue. thank you

http://discuss.focallocal.org/t/meteor-maps/165/140

[2018-04-28 19:09] AndyatFocallocal commented on #459
_From @Spartano on July 4, 2017 21:49_

try this, https://stackoverflow.com/questions/27190633/robomongo-connection-with-meteor-mongodb

[2018-04-28 19:09] AndyatFocallocal opened #460 "create xml sitemap"
_From @AndyatFocallocal on April 28, 2018 18:10_

_From @AndyatFocallocal on July 1, 2017 14:14_

the map isn't indexing well ..or at all in search engines.

can someone please add a sitemap to both maps, including the page at action.focallocal.org, news.focallocal.org, shop.focallocal.org

also send it to me so i can add it to google analytics. right now our site is basically on the dark web

her

[2018-04-28 19:09] AndyatFocallocal commented on #460
_From @nsrtky on July 1, 2017 15:39_

its better do it byself here i am going to share google help link.

https://support.google.com/webmasters/answer/183668?hl=en

[2018-04-28 19:09] AndyatFocallocal commented on #460
@nsrtky meteor has issues with seo, so the site map doesn't work properly or link to other areas of the website. we need to install a package to make it easier for bots to crawl

[2018-04-28 19:09] AndyatFocallocal commented on #460
_From @ydaniel98 on July 19, 2017 14:14_

@nsrtky Are you on this or can I give it a go?
@AndyatFocallocal Was the site map added?

[2018-04-28 19:09] AndyatFocallocal commented on #460
@ydaniel98 i haven't heard from @nsrtky for a few days and he was going to push his updates across next time he works on the map. he's using the forum so you can contact him there and ask - but pretty sure he'd be happy for you to do this

[2018-04-28 19:09] AndyatFocallocal commented on #460
the sitemap was not added. i'd suggest a little research 1st as it sounds like spiderly is a bit behind times and vulnerable to google crawls overwhelming it in the semblance for a DDOS attack.

prerender.io is an opensource alternative. i'm not sure whether docker would make this a longer task to set up. here's a relevant discussion: https://forums.meteor.com/t/what-is-prerender-io-doing-that-i-c

[2018-04-28 19:09] AndyatFocallocal commented on #460
_From @nsrtky on April 16, 2018 8:50_

Hi Andy we can use google web master tool for agile solution. https://www.google.com/webmasters/tools/ still looking for ssl certificate for production Does anyone else found something?

[2018-04-28 19:09] AndyatFocallocal commented on #460
nice to hear from you @nsrtky. visit the slack channel if you'd like to know more about SSL, @ydaniel98 and flooded77 i believe have solved the issue and the Maps should be live shortly using Lets Encrypt. Once that's complete it should be fairly easy to set up on the other two servers.

We have the maps linked to google webmaster tools. the issue with them seems to be that google can't index Mete

[2018-04-28 19:09] AndyatFocallocal commented on #460
@nsrtky would you like to have a go at it?

[2018-04-28 19:09] AndyatFocallocal commented on #460
_From @mordka on April 16, 2018 15:25_

Hey guys,
We have `spiderable` package installed but to make it working, the server
side needs to have phantomjs installed and available in the $PATH variable.
Read README of the package.
For SSL I recommend Lets Encrypt, it's easy to install, but Im unsure about
how it integrates with the deployment solution used recently.

pon., 16 kwi 2018 o 10:32 użytkow

[2018-04-28 19:09] AndyatFocallocal commented on #460
Nice, thanks for the update @mordka. i read that Spiderable had been largely abandoned as Google's crawl bots can flood it with requests which keep repeating on themselves, creating an accidental DDOS attack.

Some people mentioned limiting the rate of crawl requests accepted. Is anything in place to prevent that?

https://www.reddit.com/r/Meteor/comments/48ljrb/spiderable_prerender/

as google wi

[2018-04-28 19:10] AndyatFocallocal opened #461 "When New Gather Need Help Link Not Working. 404"
_From @AndyatFocallocal on April 28, 2018 18:11_

_From @nsrtky on July 1, 2017 12:27_

We need update need help its realy usefull at the beging.

![image](https://user-images.githubusercontent.com/12385044/27762029-898a50ba-5e71-11e7-9070-7f314d7b39f7.png)

_Copied from original issue: focallocal/fl-maps#322_

_Copied from original issue: AndyatFocallocal/temp#22_

[2018-04-28 19:10] AndyatFocallocal commented on #461
@nsrtky
ah yes. we need to create a guide there. its on the task list. i'll set up a placeholder page at that address now to help

[2018-04-28 19:10] AndyatFocallocal opened #462 "Routing Main Board After First Time Register Should have been showing register form again."
_From @AndyatFocallocal on April 28, 2018 18:11_

_From @nsrtky on July 1, 2017 12:16_

after completing registration then we dont need register form,which is blue background color at sing-in route.
i am going to share its prntscrn.

![image](https://user-images.githubusercontent.com/12385044/27761948-110c529c-5e70-11e7-97b3-728c63c35d64.png)

_Copied from original issue: focallocal/fl-maps#321_

[2018-04-28 19:10] AndyatFocallocal commented on #462
@nsrtky  that's the login screen for the news site and the forums.

we've sync'd the login on news.focallocal.org and discuss.focallocal.org, but haven't sync'd that with the maps yet. i'd love to get it done, but it is a large task

i've read that the login pages dislike that we aren't using SSL and that might be causing problems. if not i'll have a look around and see if i can see how to redirec

[2018-04-28 19:10] AndyatFocallocal opened #463 "email all activity attendees after an event to gather feedback and give options"
_From @AndyatFocallocal on April 28, 2018 18:14_

_From @AndyatFocallocal on May 17, 2017 0:0_

Gatherings Map:

The email should allow members to give a thumbs up or down to the organiser about their event, or report them. (so we can have a system removing anyone messing around or abusing the system)

a feedback and thanks form to the organiser.

it should also invite members to:

1) write an art

[2018-04-28 19:10] AndyatFocallocal opened #464 "Contact details!"
_From @AndyatFocallocal on April 28, 2018 18:14_

_From @AndyatFocallocal on April 15, 2017 17:27_

The map currently shows the event/creators email address in the event/resource window. That is a privacy issue for users.

Can we replace it with text entered in a text entry box underneath 'how to find' in the 5th modal window. The new text entry box would say 'if you need to contact me', so they c

[2018-04-28 19:10] AndyatFocallocal commented on #464
i believe this is fixed. @ydaniel98 can you plz confirm and close this issue if correct?

[2018-04-28 19:10] AndyatFocallocal opened #465 "1.5. pre-entered suggested meeting point, when user has clicked suggested location"
_From @AndyatFocallocal on April 28, 2018 18:14_

_From @AndyatFocallocal on March 22, 2017 5:27_

Clicking a commonly used location from the Tag Cloud in window 3 auto-generates a suggested meeting point in the text box, to help users. they can change this, its to save them leaving their entry and searching on google maps, etc to find a suitable park bench, or maybe they don't now the library the

[2018-04-28 19:10] AndyatFocallocal opened #466 "1.5 Window 7 pre-added text"
_From @AndyatFocallocal on April 28, 2018 18:15_

_From @AndyatFocallocal on March 22, 2017 5:19_

Linked to #207

the bottom text entry box 'Description' should be pulled and pre-filled from our Activities/Resources lists, based on the category they selected. The text will be visible and editable by the user.

if user selected 'Offer a Resource' (Brighter Tomorrows) or 'Something New' (Gatherings

[2018-04-28 19:11] AndyatFocallocal opened #467 "1.5. Tag Clouds added from commonly used locations"
_From @AndyatFocallocal on April 28, 2018 18:15_

_From @AndyatFocallocal on March 22, 2017 5:3_

On Window 3 a tag cloud should appear

upon adding anything in the Gather Map

after clicking 'Offer a Resource' in the Brighter Tomorrows Map, but not after adding a resource which already exists (advancing using the standard 'Next' button

the Tag Cloud should generate the most commonly used locatio

[2018-04-28 19:11] AndyatFocallocal opened #468 "change all text 'gather' into 'Mission' on the Gather Map"
_From @AndyatFocallocal on April 28, 2018 18:15_

_From @AndyatFocallocal on March 3, 2017 0:57_

be careful to exclude urls

_Copied from original issue: focallocal/fl-maps#136_

_Copied from original issue: AndyatFocallocal/temp#29_

[2018-04-28 19:11] AndyatFocallocal opened #469 "1.5. Sharing Links set, or editable for each separate map"
_From @AndyatFocallocal on April 28, 2018 18:16_

_From @AndyatFocallocal on February 15, 2017 18:10_

The Brighter Tomorrows/Street Sleeper Resource Map will have less use for sharing. the sharing links should just share the main map url and a blurb

The Gatherings Map requires links set correctly with the current copy/paste sharing system.
Also we'd like the event to be automatically shared (if

[2018-04-28 19:11] AndyatFocallocal commented on #469
Added to alpha incase someone wants to work on a task but there are none left. this is not required for Alpha launch

[2018-04-28 19:11] AndyatFocallocal opened #470 "quick updates to post gathering creation window"
_From @AndyatFocallocal on April 28, 2018 18:16_

_From @AndyatFocallocal on January 26, 2017 20:22_

![image](https://cloud.githubusercontent.com/assets/16229696/22348078/36eee1e8-e402-11e6-9bb7-e302a7c62e67.png)

the word 'event' will need to be changed to 'Gathering' for the Gatherings Map, and 'Resource' for the Brighter Tomorrows Map. this could be hard coded or editable in the Admin area, it

[2018-04-28 19:11] AndyatFocallocal opened #471 "Reload template instead of page (/events/map)"
_From @AndyatFocallocal on April 28, 2018 18:16_

_From @ydaniel98 on January 20, 2017 0:1_

Currently, after an event is created, the whole page is loaded. Ideally, the map should, instead, be reloaded locally.

Here is the original issue: #69

_Copied from original issue: focallocal/fl-maps#77_

_Copied from original issue: AndyatFocallocal/temp#32_

[2018-04-28 19:11] AndyatFocallocal commented on #471
nice.  added an enhancement label

[2018-04-28 19:11] AndyatFocallocal opened #472 "Add ability to click on a location on map to add a resource/event"
_From @AndyatFocallocal on April 28, 2018 18:17_

_From @AndyatFocallocal on December 14, 2016 12:28_

_Copied from original issue: focallocal/fl-maps#58_

_Copied from original issue: AndyatFocallocal/temp#33_

[2018-04-28 19:14] AndyatFocallocal opened #473 "User to User Feedback score complete “Positive Action Points”"
_From @AndyatFocallocal on April 28, 2018 18:22_

_From @AndyatFocallocal on July 26, 2016 18:44_

Users will be able to upvote other users they've met at gatherings, giving them 'Positive Action Points' initially in the map, although this score will later be integrated into all areas of the website so they can also give each other points for:
- articles they've written
- tasks completed in a proj

[2018-04-28 19:15] AndyatFocallocal opened #474 "create user moderators"
_From @AndyatFocallocal on April 28, 2018 18:22_

_From @AndyatFocallocal on July 26, 2016 12:17_

to manage the site and users

_Copied from original issue: focallocal/fl-maps#42_

_Copied from original issue: AndyatFocallocal/temp#35_

[2018-04-28 19:15] AndyatFocallocal commented on #474
_From @distalx on September 20, 2016 12:1_

I would like to take this one.

[2018-04-28 19:15] AndyatFocallocal commented on #474
_From @mordka on September 20, 2016 13:6_

How would it look like? What features do we need to add to enable moderators manage the site content?
Can we reuse admin panel?

[2018-04-28 19:15] AndyatFocallocal commented on #474
_From @distalx on September 20, 2016 17:35_

It would be a standard role based authentication system, with following basic features.
- block/unblock user
- promote and demote user.
- report user.

[2018-04-28 19:15] AndyatFocallocal commented on #474
I believe this is what's intended anyway, but just to clarify, this would need to have 3 levels. Admin, Moderator and User

[2018-04-28 19:15] AndyatFocallocal commented on #474
_From @distalx on January 12, 2017 1:47_

I'm swamped right now IRL. If someone else wants to have a go at it, be my guest. Otherwise, I'll try to get to it as soon as I can.

[2018-04-28 19:15] AndyatFocallocal opened #475 "Create "user search" and "positive action request" features"
_From @AndyatFocallocal on April 28, 2018 18:23_

_From @AndyatFocallocal on July 26, 2016 4:3_

A feature so users can search and contact other focallocallers and invite them to meet for positive  public action

Contact Andy to see Mock up

_Copied from original issue: focallocal/fl-maps#41_

_Copied from original issue: AndyatFocallocal/temp#36_

[2018-04-28 19:15] AndyatFocallocal opened #476 "user profile database sharing/sync between both maps. focallocal.org (wordpress) and the action center (discourse and wekan)"
_From @AndyatFocallocal on April 28, 2018 18:23_

_From @AndyatFocallocal on July 26, 2016 2:58_

This will likely require SSL. We found OpenSSL which is free to use. Not required before launch of street sleeper map

_Copied from original issue: focallocal/fl-maps#38_

_Copied from original issue: AndyatFocallocal/temp#37_

[2018-04-28 19:15] AndyatFocallocal commented on #476
_From @nsrtky on July 2, 2017 11:26_

https://themeteorchef.com/tutorials/working-with-ssl at the link chef shows it use your server rights and try it.

[2018-04-28 19:15] AndyatFocallocal commented on #476
@nsrtky i'm not comfortable with the technical requirements of setting that up. i am happy to give you access server-side though

[2018-04-28 19:15] AndyatFocallocal commented on #476
discourse and wordpress databases are now sync'd via a plugin.

Flooded is working on SSL right now. hopefully it will be complete in a week or two

[2018-04-28 19:15] AndyatFocallocal commented on #476
@flooded77 (on Slack) is working on SSL, please contact him before beginning this task to check the current state of the SSL set up

[2018-04-28 19:15] AndyatFocallocal commented on #476
Wekan hasn't been set up yet so you can have a fresh database to work with there, or link it to another database from the beginning

[2018-04-28 19:15] AndyatFocallocal commented on #476
Discourse has the most developed User Profile and Messaging system, can be integrated with Meteor and profiles are developed to be easy to sync.

Here's a guide: https://forums.meteor.com/t/discourse-meteor-forums-blog/25017

(related to issues 324, 38 and 15. please comment in all when solved)

[2018-04-28 19:17] AndyatFocallocal opened #477 "Set up information displayed on social media when sharing"
_From @AndyatFocallocal on April 28, 2018 18:28_

_From @AndyatFocallocal on May 11, 2016 16:8_

when sharing a link to the map via social media it doens't pull a tagline, image or metadata

_Copied from original issue: focallocal/fl-maps#22_

_Copied from original issue: AndyatFocallocal/temp#39_

[2018-04-28 19:17] AndyatFocallocal commented on #477
This issue has changed since i last saw it. it probably can be more accurate still, by pulling activity, time, location, header, number of people attending (events only), correct header photo

![sharing](https://cloud.githubusercontent.com/assets/16229696/17343525/18d01ce6-58f6-11e6-9b03-fcc142258ce2.png)

[2018-04-28 19:18] AndyatFocallocal opened #478 "email user (or notify on social media) when Gather is created nearby"
_From @AndyatFocallocal on April 28, 2018 18:28_

_From @AndyatFocallocal on May 6, 2016 15:23_

in profile they should be able to select distance or switch off

_Copied from original issue: focallocal/fl-maps#17_

_Copied from original issue: AndyatFocallocal/temp#40_

[2018-04-28 19:18] AndyatFocallocal opened #479 "'Edit' icon added to the main listing page"
_From @AndyatFocallocal on April 28, 2018 18:29_

_From @AndyatFocallocal on May 6, 2016 15:22_

i noticed the ability to edit a post after creation for is author already exists on the map view popup, when you click the event on the map. it'd be good to also add it into the main gathering window where users click through to ge full details, so its easier for users to see that they can edit their p

[2018-04-28 19:18] AndyatFocallocal opened #480 "User Profiles Created"
_From @AndyatFocallocal on April 28, 2018 18:29_

_From @AndyatFocallocal on May 6, 2016 15:18_

profiles should be built planning for future sync/integration with either our wordpress or discourse user databases (which are sync'd). later they will also be sync'd with Wekan (an open source Trello clone). If they can be built in that way now, even better. Profiles should sync across both maps if po

[2018-04-28 19:19] AndyatFocallocal opened #481 "1.5. Users can select a photo header from our list of photos (google drive?folders, or upload their own"
users given the ability to scroll through and choose one of our cover photos, or to upload their own photo.

a carousel plugin would be perfect.

atm the photos are in google drive, separated into subcategories which do (or can be changed to) match the categories in the maps. link:

Gathering:
1) use our cover photos - linking to: https://drive.google.com/open?id=0BwLUtixxA6u_a3dEVVdGWHhVZ1k
2) up

[2018-04-28 19:19] AndyatFocallocal opened #482 "redirect user after 'make it social pop up'"
_From @AndyatFocallocal on April 28, 2018 18:30_

_From @AndyatFocallocal on May 6, 2016 14:6_

redirect user to 'show more' page after 'make it social' window after creating a gather, so they can review their gather/resource and add photos and social links they need

_Copied from original issue: focallocal/fl-maps#4_

_Copied from original issue: AndyatFocallocal/temp#44_

[2018-04-28 19:21] AndyatFocallocal opened #483 "Allow selecting multiple categories and separate categories into 3 sections"
_From @AndyatFocallocal on April 28, 2018 18:23_

_From @AndyatFocallocal on July 26, 2016 2:46_

Often a listing has more than one category available. i'd like users to be able to select multiple categories, like shower, free food, advice, support group.

there are also too many categories to fit on one page so i'd like to have multiple tabs (3 or 4) in the key which opens out on the page. plus t

[2018-04-28 21:26] #459 closed

[2018-04-28 21:26] #460 closed

[2018-04-28 21:26] #461 closed

[2018-04-28 21:26] #462 closed

[2018-04-28 21:26] #463 closed

[2018-04-28 21:26] #464 closed

[2018-04-28 21:26] #465 closed

[2018-04-28 21:26] #466 closed

[2018-04-28 21:26] #467 closed

[2018-04-28 21:26] #468 closed

[2018-04-28 21:26] #469 closed

[2018-04-28 21:26] #470 closed

[2018-04-28 21:26] #471 closed

[2018-04-28 21:26] #472 closed

[2018-04-28 21:26] #473 closed

[2018-04-28 21:26] #474 closed

[2018-04-28 21:26] #475 closed

[2018-04-28 21:26] #476 closed

[2018-04-28 21:26] #477 closed

[2018-04-28 21:26] #478 closed

[2018-04-28 21:26] #479 closed

[2018-04-28 21:26] #480 closed

[2018-04-28 21:26] #481 closed

[2018-04-28 21:26] #482 closed

[2018-04-28 21:26] #483 closed

[2018-04-28 21:27] #441 closed

[2018-04-28 21:27] #442 closed

[2018-04-28 21:27] #443 closed

[2018-04-28 21:27] #444 closed

[2018-04-28 21:27] #445 closed

[2018-04-28 21:27] #446 closed

[2018-04-28 21:27] #447 closed

[2018-04-28 21:27] #448 closed

[2018-04-28 21:27] #449 closed

[2018-04-28 21:27] #450 closed

[2018-04-28 21:27] #451 closed

[2018-04-28 21:27] #452 closed

[2018-04-28 21:27] #453 closed

[2018-04-28 21:27] #454 closed

[2018-04-28 21:27] #455 closed

[2018-04-28 21:27] #456 closed

[2018-04-28 21:27] #457 closed

[2018-04-28 21:27] #458 closed

[2018-04-28 21:28] AndyatFocallocal opened #484 "Set up information displayed on social media when sharing"
_From @AndyatFocallocal on April 28, 2018 18:28_

_From @AndyatFocallocal on May 11, 2016 16:8_

when sharing a link to the map via social media it doens't pull a tagline, image or metadata

_Copied from original issue: focallocal/fl-maps#22_

_Copied from original issue: AndyatFocallocal/temp#39_

[2018-04-28 21:28] AndyatFocallocal commented on #484
This issue has changed since i last saw it. it probably can be more accurate still, by pulling activity, time, location, header, number of people attending (events only), correct header photo

![sharing](https://cloud.githubusercontent.com/assets/16229696/17343525/18d01ce6-58f6-11e6-9b03-fcc142258ce2.png)

[2018-04-28 21:28] AndyatFocallocal commented on #484
This issue was moved to focallocal/fl-maps#477

[2018-04-28 21:28] AndyatFocallocal opened #485 "Allow selecting multiple same level categories and also two separate level categories"
Often a listing has more than one category available. i'd like users to be able to select multiple categories, like shower, free food, advice, support group.

while building this please also build multi-level categories, so if a group/charity who offer a lot want to use our platform, but keep their name promoted (charities are weird like that) they can. this will be a huge asset for bringing in pa

[2018-04-28 21:28] AndyatFocallocal commented on #485
This issue was moved to focallocal/fl-maps#483

[2018-04-28 21:29] AndyatFocallocal opened #486 "user profile database sharing/sync between both maps. focallocal.org (wordpress) and the action center (discourse and wekan)"
_From @AndyatFocallocal on April 28, 2018 18:23_

_From @AndyatFocallocal on July 26, 2016 2:58_

This will likely require SSL. We found OpenSSL which is free to use. Not required before launch of street sleeper map

_Copied from original issue: focallocal/fl-maps#38_

_Copied from original issue: AndyatFocallocal/temp#37_

[2018-04-28 21:29] AndyatFocallocal commented on #486
_From @nsrtky on July 2, 2017 11:26_

https://themeteorchef.com/tutorials/working-with-ssl at the link chef shows it use your server rights and try it.

[2018-04-28 21:29] AndyatFocallocal commented on #486
@nsrtky i'm not comfortable with the technical requirements of setting that up. i am happy to give you access server-side though

[2018-04-28 21:29] AndyatFocallocal commented on #486
discourse and wordpress databases are now sync'd via a plugin.

Flooded is working on SSL right now. hopefully it will be complete in a week or two

[2018-04-28 21:29] AndyatFocallocal commented on #486
@flooded77 (on Slack) is working on SSL, please contact him before beginning this task to check the current state of the SSL set up

[2018-04-28 21:29] AndyatFocallocal commented on #486
Wekan hasn't been set up yet so you can have a fresh database to work with there, or link it to another database from the beginning

[2018-04-28 21:29] AndyatFocallocal commented on #486
Discourse has the most developed User Profile and Messaging system, can be integrated with Meteor and profiles are developed to be easy to sync.

Here's a guide: https://forums.meteor.com/t/discourse-meteor-forums-blog/25017

(related to issues 324, 38 and 15. please comment in all when solved)

[2018-04-28 21:29] AndyatFocallocal commented on #486
This issue was moved to focallocal/fl-maps#476

[2018-04-28 21:29] AndyatFocallocal opened #487 "Users able to set how often they want to be contacted"
On Focallocal.org users can post themselves onto the map as available to be contacted to meet for selected activities. On the brightertomorrowmap this feature is for users to post resources they are available to be contacted for.

In a busy city they may get swamped with requests and want to leave the platform

Our profiles are intended to be build upon the Discourse forum profiles which already h

[2018-04-28 21:29] AndyatFocallocal commented on #487
This issue was moved to focallocal/fl-maps#475

[2018-04-28 21:29] AndyatFocallocal opened #488 "create user moderators"
_From @AndyatFocallocal on April 28, 2018 18:22_

_From @AndyatFocallocal on July 26, 2016 12:17_

to manage the site and users

_Copied from original issue: focallocal/fl-maps#42_

_Copied from original issue: AndyatFocallocal/temp#35_

[2018-04-28 21:29] AndyatFocallocal commented on #488
_From @distalx on September 20, 2016 12:1_

I would like to take this one.

[2018-04-28 21:29] AndyatFocallocal commented on #488
_From @mordka on September 20, 2016 13:6_

How would it look like? What features do we need to add to enable moderators manage the site content?
Can we reuse admin panel?

[2018-04-28 21:29] AndyatFocallocal commented on #488
_From @distalx on September 20, 2016 17:35_

It would be a standard role based authentication system, with following basic features.
- block/unblock user
- promote and demote user.
- report user.

[2018-04-28 21:29] AndyatFocallocal commented on #488
I believe this is what's intended anyway, but just to clarify, this would need to have 3 levels. Admin, Moderator and User

[2018-04-28 21:29] AndyatFocallocal commented on #488
_From @distalx on January 12, 2017 1:47_

I'm swamped right now IRL. If someone else wants to have a go at it, be my guest. Otherwise, I'll try to get to it as soon as I can.

[2018-04-28 21:29] AndyatFocallocal commented on #488
This issue was moved to focallocal/fl-maps#474

[2018-04-28 21:29] AndyatFocallocal opened #489 "User to User Feedback score complete “Positive Action Points”"
Users will be able to give listings, and each other, a rating out of 3 stars, 3 good. 2 ok. 1 not a good experience. To protect the system from anyone abusing it, or resources that people should avoid.

for reference, on the brighter tomorrow map this means those offering a resource, resources in the community, and those accepting resources. so it can't easily be used for drug sales, or converting

[2018-04-28 21:29] AndyatFocallocal commented on #489
This issue was moved to focallocal/fl-maps#473

[2018-04-28 21:29] AndyatFocallocal opened #490 "Add ability to click on a location on map to add a resource/event"
_From @AndyatFocallocal on April 28, 2018 18:17_

_From @AndyatFocallocal on December 14, 2016 12:28_

_Copied from original issue: focallocal/fl-maps#58_

_Copied from original issue: AndyatFocallocal/temp#33_

[2018-04-28 21:29] AndyatFocallocal commented on #490
This issue was moved to focallocal/fl-maps#472

[2018-04-28 21:29] AndyatFocallocal opened #491 "Reload template instead of page (/events/map)"
_From @AndyatFocallocal on April 28, 2018 18:16_

_From @ydaniel98 on January 20, 2017 0:1_

Currently, after an event is created, the whole page is loaded. Ideally, the map should, instead, be reloaded locally.

Here is the original issue: #69

_Copied from original issue: focallocal/fl-maps#77_

_Copied from original issue: AndyatFocallocal/temp#32_

[2018-04-28 21:30] AndyatFocallocal commented on #491
nice.  added an enhancement label

[2018-04-28 21:30] AndyatFocallocal commented on #491
This issue was moved to focallocal/fl-maps#471

[2018-04-28 21:30] AndyatFocallocal opened #492 "quick updates to post gathering creation window"
_From @AndyatFocallocal on April 28, 2018 18:16_

_From @AndyatFocallocal on January 26, 2017 20:22_

![image](https://cloud.githubusercontent.com/assets/16229696/22348078/36eee1e8-e402-11e6-9bb7-e302a7c62e67.png)

the word 'event' will need to be changed to 'Gathering' for the Gatherings Map, and 'Resource' for the Brighter Tomorrows Map. this could be hard coded or editable in the Admin area, it

[2018-04-28 21:30] AndyatFocallocal commented on #492
This issue was moved to focallocal/fl-maps#470

[2018-04-28 21:30] AndyatFocallocal opened #493 "1.5. Sharing Links set, or editable for each separate map"
_From @AndyatFocallocal on April 28, 2018 18:16_

_From @AndyatFocallocal on February 15, 2017 18:10_

The Brighter Tomorrows/Street Sleeper Resource Map will have less use for sharing. the sharing links should just share the main map url and a blurb

The Gatherings Map requires links set correctly with the current copy/paste sharing system.
Also we'd like the event to be automatically shared (if

[2018-04-28 21:30] AndyatFocallocal commented on #493
Added to alpha incase someone wants to work on a task but there are none left. this is not required for Alpha launch

[2018-04-28 21:30] AndyatFocallocal commented on #493
This issue was moved to focallocal/fl-maps#469

[2018-04-28 21:30] AndyatFocallocal opened #494 "change all text 'gather' into 'Mission' on the Gather Map"
_From @AndyatFocallocal on April 28, 2018 18:15_

_From @AndyatFocallocal on March 3, 2017 0:57_

be careful to exclude urls

_Copied from original issue: focallocal/fl-maps#136_

_Copied from original issue: AndyatFocallocal/temp#29_

[2018-04-28 21:30] AndyatFocallocal commented on #494
This issue was moved to focallocal/fl-maps#468

[2018-04-28 21:30] AndyatFocallocal opened #495 "1.5. Tag Clouds added from commonly used locations"
_From @AndyatFocallocal on April 28, 2018 18:15_

_From @AndyatFocallocal on March 22, 2017 5:3_

On Window 3 a tag cloud should appear

upon adding anything in the Gather Map

after clicking 'Offer a Resource' in the Brighter Tomorrows Map, but not after adding a resource which already exists (advancing using the standard 'Next' button

the Tag Cloud should generate the most commonly used locatio

[2018-04-28 21:30] AndyatFocallocal commented on #495
This issue was moved to focallocal/fl-maps#467

[2018-04-28 21:31] AndyatFocallocal opened #496 "1.5. Tag Clouds added from commonly used locations"
_From @AndyatFocallocal on April 28, 2018 18:15_

_From @AndyatFocallocal on March 22, 2017 5:3_

On Window 3 a tag cloud should appear

upon adding anything in the Gather Map

after clicking 'Offer a Resource' in the Brighter Tomorrows Map, but not after adding a resource which already exists (advancing using the standard 'Next' button

the Tag Cloud should generate the most commonly used locatio

[2018-04-28 21:31] AndyatFocallocal commented on #496
This issue was moved to focallocal/fl-maps#467

[2018-04-28 21:31] AndyatFocallocal commented on #496
This issue was moved to focallocal/fl-maps#495

[2018-04-28 21:31] AndyatFocallocal opened #497 "1.5 Window 7 pre-added text"
_From @AndyatFocallocal on April 28, 2018 18:15_

_From @AndyatFocallocal on March 22, 2017 5:19_

Linked to #207

the bottom text entry box 'Description' should be pulled and pre-filled from our Activities/Resources lists, based on the category they selected. The text will be visible and editable by the user.

if user selected 'Offer a Resource' (Brighter Tomorrows) or 'Something New' (Gatherings

[2018-04-28 21:31] AndyatFocallocal commented on #497
This issue was moved to focallocal/fl-maps#466

[2018-04-28 21:31] AndyatFocallocal opened #498 "1.5. pre-entered suggested meeting point, when user has clicked suggested location"
_From @AndyatFocallocal on April 28, 2018 18:14_

_From @AndyatFocallocal on March 22, 2017 5:27_

Clicking a commonly used location from the Tag Cloud in window 3 auto-generates a suggested meeting point in the text box, to help users. they can change this, its to save them leaving their entry and searching on google maps, etc to find a suitable park bench, or maybe they don't now the library the

[2018-04-28 21:31] AndyatFocallocal commented on #498
This issue was moved to focallocal/fl-maps#465

[2018-04-28 21:31] AndyatFocallocal opened #499 "Contact details!"
_From @AndyatFocallocal on April 28, 2018 18:14_

_From @AndyatFocallocal on April 15, 2017 17:27_

The map currently shows the event/creators email address in the event/resource window. That is a privacy issue for users.

Can we replace it with text entered in a text entry box underneath 'how to find' in the 5th modal window. The new text entry box would say 'if you need to contact me', so they c

[2018-04-28 21:31] AndyatFocallocal commented on #499
i believe this is fixed. @ydaniel98 can you plz confirm and close this issue if correct?

[2018-04-28 21:31] AndyatFocallocal commented on #499
This issue was moved to focallocal/fl-maps#464

[2018-04-28 21:31] AndyatFocallocal opened #500 "email all activity attendees after an event to gather feedback and give options"
_From @AndyatFocallocal on April 28, 2018 18:14_

_From @AndyatFocallocal on May 17, 2017 0:0_

Gatherings Map:

The email should allow members to give a thumbs up or down to the organiser about their event, or report them. (so we can have a system removing anyone messing around or abusing the system)

a feedback and thanks form to the organiser.

it should also invite members to:

1) write an art

[2018-04-28 21:31] AndyatFocallocal commented on #500
This issue was moved to focallocal/fl-maps#463

[2018-04-28 21:31] AndyatFocallocal opened #501 "Routing Main Board After First Time Register Should have been showing register form again."
_From @AndyatFocallocal on April 28, 2018 18:11_

_From @nsrtky on July 1, 2017 12:16_

after completing registration then we dont need register form,which is blue background color at sing-in route.
i am going to share its prntscrn.

![image](https://user-images.githubusercontent.com/12385044/27761948-110c529c-5e70-11e7-97b3-728c63c35d64.png)

_Copied from original issue: focallocal/fl-maps#321_

[2018-04-28 21:31] AndyatFocallocal commented on #501
@nsrtky  that's the login screen for the news site and the forums.

we've sync'd the login on news.focallocal.org and discuss.focallocal.org, but haven't sync'd that with the maps yet. i'd love to get it done, but it is a large task

i've read that the login pages dislike that we aren't using SSL and that might be causing problems. if not i'll have a look around and see if i can see how to redirec

[2018-04-28 21:31] AndyatFocallocal commented on #501
This issue was moved to focallocal/fl-maps#462

[2018-04-28 21:31] AndyatFocallocal opened #502 "When New Gather Need Help Link Not Working. 404"
_From @AndyatFocallocal on April 28, 2018 18:11_

_From @nsrtky on July 1, 2017 12:27_

We need update need help its realy usefull at the beging.

![image](https://user-images.githubusercontent.com/12385044/27762029-898a50ba-5e71-11e7-9070-7f314d7b39f7.png)

_Copied from original issue: focallocal/fl-maps#322_

_Copied from original issue: AndyatFocallocal/temp#22_

[2018-04-28 21:31] AndyatFocallocal commented on #502
@nsrtky
ah yes. we need to create a guide there. its on the task list. i'll set up a placeholder page at that address now to help

[2018-04-28 21:31] AndyatFocallocal commented on #502
This issue was moved to focallocal/fl-maps#461

[2018-04-28 21:32] AndyatFocallocal opened #503 "create xml sitemap"
_From @AndyatFocallocal on April 28, 2018 18:10_

_From @AndyatFocallocal on July 1, 2017 14:14_

the map isn't indexing well ..or at all in search engines.

can someone please add a sitemap to both maps, including the page at action.focallocal.org, news.focallocal.org, shop.focallocal.org

also send it to me so i can add it to google analytics. right now our site is basically on the dark web

her

[2018-04-28 21:32] AndyatFocallocal commented on #503
_From @nsrtky on July 1, 2017 15:39_

its better do it byself here i am going to share google help link.

https://support.google.com/webmasters/answer/183668?hl=en

[2018-04-28 21:32] AndyatFocallocal commented on #503
@nsrtky meteor has issues with seo, so the site map doesn't work properly or link to other areas of the website. we need to install a package to make it easier for bots to crawl

[2018-04-28 21:32] AndyatFocallocal commented on #503
_From @ydaniel98 on July 19, 2017 14:14_

@nsrtky Are you on this or can I give it a go?
@AndyatFocallocal Was the site map added?

[2018-04-28 21:32] AndyatFocallocal commented on #503
@ydaniel98 i haven't heard from @nsrtky for a few days and he was going to push his updates across next time he works on the map. he's using the forum so you can contact him there and ask - but pretty sure he'd be happy for you to do this

[2018-04-28 21:32] AndyatFocallocal commented on #503
the sitemap was not added. i'd suggest a little research 1st as it sounds like spiderly is a bit behind times and vulnerable to google crawls overwhelming it in the semblance for a DDOS attack.

prerender.io is an opensource alternative. i'm not sure whether docker would make this a longer task to set up. here's a relevant discussion: https://forums.meteor.com/t/what-is-prerender-io-doing-that-i-c

[2018-04-28 21:32] AndyatFocallocal commented on #503
_From @nsrtky on April 16, 2018 8:50_

Hi Andy we can use google web master tool for agile solution. https://www.google.com/webmasters/tools/ still looking for ssl certificate for production Does anyone else found something?

[2018-04-28 21:32] AndyatFocallocal commented on #503
nice to hear from you @nsrtky. visit the slack channel if you'd like to know more about SSL, @ydaniel98 and flooded77 i believe have solved the issue and the Maps should be live shortly using Lets Encrypt. Once that's complete it should be fairly easy to set up on the other two servers.

We have the maps linked to google webmaster tools. the issue with them seems to be that google can't index Mete

[2018-04-28 21:32] AndyatFocallocal commented on #503
@nsrtky would you like to have a go at it?

[2018-04-28 21:32] AndyatFocallocal commented on #503
_From @mordka on April 16, 2018 15:25_

Hey guys,
We have `spiderable` package installed but to make it working, the server
side needs to have phantomjs installed and available in the $PATH variable.
Read README of the package.
For SSL I recommend Lets Encrypt, it's easy to install, but Im unsure about
how it integrates with the deployment solution used recently.

pon., 16 kwi 2018 o 10:32 użytkow

[2018-04-28 21:32] AndyatFocallocal commented on #503
Nice, thanks for the update @mordka. i read that Spiderable had been largely abandoned as Google's crawl bots can flood it with requests which keep repeating on themselves, creating an accidental DDOS attack.

Some people mentioned limiting the rate of crawl requests accepted. Is anything in place to prevent that?

https://www.reddit.com/r/Meteor/comments/48ljrb/spiderable_prerender/

as google wi

[2018-04-28 21:32] AndyatFocallocal commented on #503
This issue was moved to focallocal/fl-maps#460

[2018-04-28 21:32] AndyatFocallocal opened #504 "Creating Gather Give Address Error at eventsForm.js line 18"
_From @AndyatFocallocal on April 28, 2018 18:10_

_From @nsrtky on July 1, 2017 20:30_

ı have tried creating new gather than filled textfields as below but not let me cos of address its taking place at eventsForm.js 18 lines.

![image](https://user-images.githubusercontent.com/12385044/27765245-397cea94-5eb5-11e7-958d-205d47d1961f.png)

![image](https://user-images.githubusercontent.com/12385044/

[2018-04-28 21:32] AndyatFocallocal commented on #504
_From @nsrtky on July 2, 2017 11:17_

i have tried to connect mongodb via below tool but its not working does any one achieve to connect meteor mongodb collections?
it has told us coordinate required but undefined ?

![image](https://user-images.githubusercontent.com/12385044/27769400-29308570-5f31-11e7-855a-b3f52ad07dbb.png)

the tool i have wanted to see collection in project ?
![image](https://

[2018-04-28 21:32] AndyatFocallocal commented on #504
@nsrtky please post in the forum and tag @ydaniel98 and @Spartano as they may be familiar with the issue. thank you

http://discuss.focallocal.org/t/meteor-maps/165/140

[2018-04-28 21:32] AndyatFocallocal commented on #504
_From @Spartano on July 4, 2017 21:49_

try this, https://stackoverflow.com/questions/27190633/robomongo-connection-with-meteor-mongodb

[2018-04-28 21:32] AndyatFocallocal commented on #504
This issue was moved to focallocal/fl-maps#459

[2018-04-28 21:32] AndyatFocallocal opened #505 "add <br />'s into 'selectable' div"
_From @AndyatFocallocal on April 28, 2018 18:9_

_From @AndyatFocallocal on July 13, 2017 23:47_

can we please separate this text so its not an unfriendly wall of text for users

while doing that it might be a good idea to auto-shorten the links

![image](https://user-images.githubusercontent.com/16229696/28192390-bfaa5652-682d-11e7-8ef2-22a650467505.png)

_Copied from original issue: focallocal/

[2018-04-28 21:32] AndyatFocallocal commented on #505
This issue was moved to focallocal/fl-maps#458

[2018-04-28 21:32] AndyatFocallocal opened #506 "add space to stop auto-fill covering address selector"
_From @AndyatFocallocal on April 28, 2018 18:9_

_From @AndyatFocallocal on July 24, 2017 15:20_

![image](https://user-images.githubusercontent.com/16229696/28530455-cde4b18e-708b-11e7-972d-28c8d3d5fef8.png)

_Copied from original issue: focallocal/fl-maps#347_

_Copied from original issue: AndyatFocallocal/temp#18_

[2018-04-28 21:32] AndyatFocallocal commented on #506
This issue was moved to focallocal/fl-maps#457

[2018-04-28 21:32] AndyatFocallocal opened #507 "move 'toggle' in key/legend to top right of window"
_From @AndyatFocallocal on April 28, 2018 18:8_

_From @AndyatFocallocal on July 24, 2017 17:29_

users have to scroll down to see it right now

_Copied from original issue: focallocal/fl-maps#350_

_Copied from original issue: AndyatFocallocal/temp#17_

[2018-04-28 21:32] AndyatFocallocal commented on #507
This issue was moved to focallocal/fl-maps#456

[2018-04-28 21:32] AndyatFocallocal opened #508 "set up a script to pull resources from the pavement"
_From @AndyatFocallocal on April 28, 2018 18:8_

_From @AndyatFocallocal on July 24, 2017 23:16_

there's a heap of resources here we can pull directly into our map to give it a big useability boost: http://www.thepavement.org.uk/services.php?facility=&service=&city=

it would probably require setting up new categories, and enabling subcategories and multiple categories as our current key/legend w

[2018-04-28 21:32] AndyatFocallocal commented on #508
This issue was moved to focallocal/fl-maps#455

[2018-04-28 21:33] AndyatFocallocal opened #509 "add a url shortener for any url added into a text box"
_From @AndyatFocallocal on April 28, 2018 18:7_

_From @AndyatFocallocal on July 25, 2017 15:30_

the long strings are messy. for example: http://brightertomorrowmap.com/events/LsNjqtGitkPDEGhba

_Copied from original issue: focallocal/fl-maps#358_

_Copied from original issue: AndyatFocallocal/temp#15_

[2018-04-28 21:33] AndyatFocallocal commented on #509
This issue was moved to focallocal/fl-maps#454

[2018-04-28 21:33] AndyatFocallocal opened #510 "copy the edit button into the list view so mods can find and edit listings easier"
_From @AndyatFocallocal on April 28, 2018 18:3_

_From @AndyatFocallocal on July 25, 2017 17:37_

![image](https://user-images.githubusercontent.com/16229696/28585511-4a92a84e-7168-11e7-93c6-179d92906d0d.png)

_Copied from original issue: focallocal/fl-maps#362_

_Copied from original issue: AndyatFocallocal/temp#14_

[2018-04-28 21:33] AndyatFocallocal commented on #510
This issue was moved to focallocal/fl-maps#453

[2018-04-28 21:33] AndyatFocallocal opened #511 "set all posts on the brighter tomorrow map to autopost to our twitter account"
_From @AndyatFocallocal on April 28, 2018 18:2_

_From @AndyatFocallocal on July 26, 2017 3:2_

this should create a constant drip of attention for the map, especially if it auto includes one or two words about what the map is doing. "support people who are homeless nearby"?

https://twitter.com/BrighterMap?lang=en

_Copied from original issue: focallocal/fl-maps#365_

_Copied from original issue:

[2018-04-28 21:33] AndyatFocallocal commented on #511
This issue was moved to focallocal/fl-maps#452

[2018-04-28 21:33] AndyatFocallocal opened #512 "Category deletion breaks active events."
_From @AndyatFocallocal on April 28, 2018 18:2_

_From @ydaniel98 on July 27, 2017 13:39_

If an admin removes a category, events of that category should not be displayed. Notification to the organiser?

Server/publications/events.js - The query fetches enabled categories, it should also check if the category exists.

_Copied from original issue: focallocal/fl-maps#374_

_Copied from original issu

[2018-04-28 21:33] AndyatFocallocal commented on #512
_From @ydaniel98 on July 27, 2017 13:42_

The bug is also present when a category is disabled.

[2018-04-28 21:33] AndyatFocallocal commented on #512
This issue was moved to focallocal/fl-maps#451

[2018-04-28 21:33] AndyatFocallocal opened #513 "house number only works after road name"
_From @AndyatFocallocal on April 28, 2018 18:2_

_From @AndyatFocallocal on August 3, 2017 13:22_

the house numbers only work if they are added after the road name. we will require it to work both before and after as some cultures put it before and some afterwards, both need to be able to use the map comfortably

![image](https://user-images.githubusercontent.com/16229696/28923768-0870957a-7857-1

[2018-04-28 21:33] AndyatFocallocal commented on #513
_From @ydaniel98 on August 23, 2017 16:9_

@AndyatFocallocal We could have some js running to format the address while the user types.

[2018-04-28 21:33] AndyatFocallocal commented on #513
This issue was moved to focallocal/fl-maps#450

[2018-04-28 21:33] AndyatFocallocal opened #514 "dots in same place aren't viewable"
_From @AndyatFocallocal on April 28, 2018 18:0_

_From @AndyatFocallocal on August 3, 2017 13:34_

this issue was previously working by separating the dots when clicked or zoomed in and displaying a line between them to show they are in the same location

it seems that function has broken

![image](https://user-images.githubusercontent.com/16229696/28924203-cd7e4fb4-7858-11e7-8aeb-8f46facd965c.png

[2018-04-28 21:33] AndyatFocallocal commented on #514
@ydaniel98 when you find a solution can you mark this as closed please

[2018-04-28 21:33] AndyatFocallocal commented on #514
This issue was moved to focallocal/fl-maps#449

[2018-04-28 21:33] AndyatFocallocal opened #515 "add link to more info section so users can link to the sites website"
_From @AndyatFocallocal on April 28, 2018 18:0_

_From @AndyatFocallocal on August 3, 2017 14:37_

this function is already available in the event listing. it just needs to be added to the modals, and it should display as a link, rather than a huge string

for example: <a href="url entered in modal">website link</a>

![image](https://user-images.githubusercontent.com/16229696/28926905-13223384-786

[2018-04-28 21:33] AndyatFocallocal commented on #515
update.
on the full screen listing you can add a link. i'd like to have the ability added to the modal window above

the listing needs to display a hyperlink with the text 'link', rather than showing the full string which is messy and often too long for the window

[2018-04-28 21:33] AndyatFocallocal commented on #515
This issue was moved to focallocal/fl-maps#448

[2018-04-28 21:34] AndyatFocallocal opened #516 "Buttons in modal window align incorrectly on mobile"
_From @AndyatFocallocal on April 28, 2018 18:0_

_From @AndyatFocallocal on August 12, 2017 22:11_

![image](https://user-images.githubusercontent.com/16229696/29244598-faa926e6-7fb3-11e7-944d-4b7193830144.png)

_Copied from original issue: focallocal/fl-maps#399_

_Copied from original issue: AndyatFocallocal/temp#8_

[2018-04-28 21:34] AndyatFocallocal commented on #516
This issue was moved to focallocal/fl-maps#446

[2018-04-28 21:34] AndyatFocallocal opened #517 "Modal Window 3. Add 'My Current Location'"
_From @AndyatFocallocal on April 28, 2018 17:58_

_From @AndyatFocallocal on August 14, 2017 14:28_

rather than entering an address the map can use their devices location feature to find where they are and suggest it

_Copied from original issue: focallocal/fl-maps#400_

_Copied from original issue: AndyatFocallocal/temp#7_

[2018-04-28 21:34] AndyatFocallocal commented on #517
This issue was moved to focallocal/fl-maps#445

[2018-04-28 21:34] AndyatFocallocal opened #518 "remove extra menu shop link"
_From @AndyatFocallocal on April 28, 2018 17:58_

_From @AndyatFocallocal on February 15, 2018 18:19_

this extra menu item can be removed. infact both drop downs can. there is only one shop and its at this address: shop.focallocal.org

![image](https://user-images.githubusercontent.com/16229696/36273494-9547c88c-127c-11e8-98cc-f93e59853c42.png)

_Copied from original issue: focallocal/fl-maps#430

[2018-04-28 21:34] AndyatFocallocal commented on #518
This issue was moved to focallocal/fl-maps#444

[2018-04-28 21:34] AndyatFocallocal opened #519 "set up error message when user clicks next and hasnt entered location correctly"
_From @AndyatFocallocal on April 28, 2018 17:57_

_From @AndyatFocallocal on February 28, 2018 17:4_

![image](https://user-images.githubusercontent.com/16229696/36801163-30ac66ee-1ca9-11e8-8279-24457e4964ef.png)

the location finder software isnt amazing and often users click next when it hasnt found the location. perhaps we could also add a postcode/zip code finder option to help users

_Copied

[2018-04-28 21:34] AndyatFocallocal commented on #519
This issue was moved to focallocal/fl-maps#443

[2018-04-28 21:34] AndyatFocallocal opened #520 "hide 'next' in last modal window"
_From @AndyatFocallocal on April 28, 2018 17:57_

_From @AndyatFocallocal on February 28, 2018 17:11_

users reported being confused why it was greyed out. it would be better to idiot proof it by hiding it and so only 'back' and 'submit' are visible

![image](https://user-images.githubusercontent.com/16229696/36801565-632bea94-1caa-11e8-9188-f4f2b437093e.png)

_Copied from original issue: focalloc

[2018-04-28 21:34] AndyatFocallocal commented on #520
This issue was moved to focallocal/fl-maps#442

[2018-04-28 21:34] AndyatFocallocal opened #521 "change grey text 'limit' to 'attendee limit'. a user got confused here"
_From @AndyatFocallocal on April 28, 2018 17:49_

_From @AndyatFocallocal on February 28, 2018 21:34_

![image](https://user-images.githubusercontent.com/16229696/36814314-0c1ffd42-1ccf-11e8-9287-8399d1e149fa.png)

_Copied from original issue: focallocal/fl-maps#433_

_Copied from original issue: AndyatFocallocal/temp#3_

[2018-04-28 21:34] AndyatFocallocal commented on #521
This issue was moved to focallocal/fl-maps#441

[2018-04-28 21:34] AndyatFocallocal opened #522 "Page load speed optimization"
_From @AndyatFocallocal on April 28, 2018 17:46_

_From @ydaniel98 on August 16, 2017 15:22_

Optimize page loading speed.

This tool can help: https://developers.google.com/speed/pagespeed/insights/

<img width="1280" alt="screen shot 2017-08-15 at 3 05 16 pm" src="https://user-images.githubusercontent.com/11820758/29371032-2f294dce-8275-11e7-83f1-c8293f1055cb.png">

_Copied from original issue:

[2018-04-28 21:34] AndyatFocallocal commented on #522
_From @Ziinc on March 16, 2018 20:30_

Can be accomplished through lazy loading of packages. Might have to upgrade to meteor 1.5 and above though.

[2018-04-28 21:34] AndyatFocallocal commented on #522
@Ziinc we upgraded to 1.4 about 1.5 years ago. it took months to get everything running again. it would be great as long as we have enough devs who agree to see the process through, and we have a test server so the live site doesn't go down.

[2018-04-28 21:34] AndyatFocallocal commented on #522
This issue was moved to focallocal/fl-maps#440

[2018-04-28 21:35] AndyatFocallocal opened #523 "Create Android and OS App for our site"
_From @AndyatFocallocal on April 28, 2018 17:40_

_From @AndyatFocallocal on March 8, 2018 20:15_

If you'd like to make a focallocal app. it looks fairly straight forwards for someone who knows a bit about web dev. just a browser which opens on our website. everything else has been designed to be an app so it should work immediately, and once active we can optimise the site to improve its use as

[2018-04-28 21:35] AndyatFocallocal commented on #523
This issue was moved to focallocal/fl-maps#439

[2018-04-28 22:35] AndyatFocallocal opened #524 "Test"
test

[2018-04-28 23:14] #502 closed

[2018-04-28 23:55] AndyatFocallocal opened #525 "Both: Sharing tools added main page"
In the last modal window when creating an activity/resource, users are given options to help them share their activity, and for the Gatherings Map also to recreate it on different social media sites.

Other users might also want to share or help publicise, so we should also add this sharing options into the activity/resources main page, somewhere here:

![image](https://user-images.githubuserconte

[2018-04-29 00:10] AndyatFocallocal opened #526 "Remove modal window 5"
it repeats window 4 too closely making it redundant

![image](https://user-images.githubusercontent.com/16229696/39401934-ea3e6246-4b49-11e8-83f9-7409ff32290c.png)

[2018-04-29 00:15] AndyatFocallocal opened #527 "Auto fill info in each new activity/resource created"
To make the website/app super quick for users with typically short attention spans we can increase engagement rates by pre-filling the bottom 'details' text entry box for them with data pulled from external sources

![image](https://user-images.githubusercontent.com/16229696/39401944-40d8a990-4b4a-11e8-9ebe-dba9f5e41fe6.png)

The Gatherings Map can pull the the Intro from the pages linked on our s

[2018-04-29 00:18] AndyatFocallocal opened #528 "Some dots on the map have become unconnected to their category"
Some dots on the map aren't responding to the filters,they appear to have become separated from their category, although they are still showing the correct colours

[2018-04-29 00:39] AndyatFocallocal opened #529 "Videos added to Gatherings Map. Street View for Brighter Tomorrow Map"
In the main window for each post

![image](https://user-images.githubusercontent.com/16229696/39402036-fd395dc6-4b4c-11e8-83f1-210bca3913d5.png)

I'd like to load a youtube video player as the header image which displays videos from the correct category here: https://www.youtube.com/channel/UCV5vm0mYy3VM-I461q7QfcQ/playlists

On the Brighter Tomorrow Map i think the best thing to do would be to lo

[2018-04-29 00:45] AndyatFocallocal opened #530 "Two finger navigation on mobile view turned off"
'use two fingers to navigate' on mobile view is absolutely horrible.

navigating the map needs to be with one finger, how users can scroll to the footer i'm not sure. perhaps that can be reached using two fingers on the mobile page?

[2018-04-29 01:12] #524 closed

[2018-04-29 01:15] AndyatFocallocal opened #531 "redirect user after 'make it social pop up'"
_From @AndyatFocallocal on April 28, 2018 18:30_

_From @AndyatFocallocal on May 6, 2016 14:6_

redirect user to 'show more' page after 'make it social' window after creating a gather, so they can review their gather/resource and add photos and social links they need

_Copied from original issue: focallocal/fl-maps#4_

_Copied from original issue: AndyatFocallocal/temp#44_

[2018-04-29 01:15] AndyatFocallocal commented on #531
_From @mordka on May 20, 2016 19:10_

We can use something like `Router.go('events', {_id: eventId})` in the place when we zoom in the map.

[2018-04-29 01:15] AndyatFocallocal commented on #531
just checking, was my description clear?

after a user creates an event the 'make it social' popup appears. currently after this users return to the map. we'd prefer they were redirected to the newly created Gather's page so they can review it, add links and photos, etc

[2018-04-29 01:15] AndyatFocallocal commented on #531
_From @mordka on May 20, 2016 19:56_

## Yes it was clear

Pawel
pt., 20.05.2016 o 20:31 użytkownik AndyatFocallocal notifications@github.com
napisał:
just checking, was my description clear?

after a user creates an event the 'make it social' popup appears. currently
after this users return to the map. we'd prefer they were redirected to the
newly created Gather's page so they can review it, add

[2018-04-29 01:15] AndyatFocallocal commented on #531
This issue was moved to focallocal/fl-maps#482

[2018-04-29 01:21] AndyatFocallocal opened #532 "Both: redirect user after 'congratulations page'"
_From @AndyatFocallocal on April 28, 2018 18:30_

_From @AndyatFocallocal on May 6, 2016 14:6_

redirect user to 'show more' page after 'make it social' window after creating a post, so they can review their gather/resource and add photos and social links they need

_Copied from original issue: focallocal/fl-maps#4_

_Copied from original issue: AndyatFocallocal/temp#44_

[2018-04-29 01:24] AndyatFocallocal opened #533 "User Profiles Created"
_From @AndyatFocallocal on April 28, 2018 18:29_

_From @AndyatFocallocal on May 6, 2016 15:18_

profiles should be built planning for future sync/integration with either our wordpress or discourse user databases (which are sync'd). later they will also be sync'd with Wekan (an open source Trello clone). If they can be built in that way now, even better. Profiles should sync across both maps if po

[2018-04-29 01:24] AndyatFocallocal commented on #533
contact me if you'd like a basic mockup of the above details

[2018-04-29 01:24] AndyatFocallocal commented on #533
note: the profiles on Discourse (discuss.focallocal.org) are far superior to wordpress and has bee set up to make it easy to integrate with other platforms. I recommend we use this as the base of our user profile system.

here's a guide for integrating Discourse profiles and comment system into Meteor: https://forums.meteor.com/t/discourse-meteor-forums-blog/25017

(related to issues 324, 38 and 1

[2018-04-29 01:24] AndyatFocallocal commented on #533
Here's an idea of what the user profiles currently contain: http://discuss.focallocal.org/u/Andy_at_Focallocal/summary
(sign up/log in required)

Here's thoughts on how we can allow users to add more photos, list their location, expand their bio, etc

https://meta.discourse.org/t/expanded-profiles-has-anyone-already-done-it/85467

[2018-04-29 01:24] AndyatFocallocal commented on #533
This issue was moved to focallocal/fl-maps#480

[2018-04-29 01:27] AndyatFocallocal opened #534 "Key Task: Both: 'Edit' icon added to the main listing page"
_From @AndyatFocallocal on April 28, 2018 18:29_

_From @AndyatFocallocal on May 6, 2016 15:22_

i noticed the ability to edit a post after creation for is author already exists on the map view popup, when you click the event on the map. it'd be good to also add it into the main gathering window where users click through to ge full details, so its easier for users to see that they can edit their p

[2018-04-29 01:27] AndyatFocallocal commented on #534
'Edit' Button added to this page. Edit function already exists in the button on the second image

![text edit](https://cloud.githubusercontent.com/assets/16229696/17344296/76e5ad70-58f9-11e6-9857-3d4c276dc79b.png)

![edit event button](https://cloud.githubusercontent.com/assets/16229696/17344304/7e31b876-58f9-11e6-8d88-e6a70cc39172.png)

[2018-04-29 01:27] AndyatFocallocal commented on #534
This issue was moved to focallocal/fl-maps#479

[2018-04-29 01:28] AndyatFocallocal opened #535 "email user (or notify on social media) when Gather is created nearby"
_From @AndyatFocallocal on April 28, 2018 18:28_

_From @AndyatFocallocal on May 6, 2016 15:23_

in profile they should be able to select distance or switch off

_Copied from original issue: focallocal/fl-maps#17_

_Copied from original issue: AndyatFocallocal/temp#40_

[2018-04-29 01:28] AndyatFocallocal commented on #535
This issue was moved to focallocal/fl-maps#478

[2018-04-29 23:50] AndyatFocallocal opened #537 "Both: Add discourse comments section to each activity/resource posted"
each activity and resource should have a comments section in it for users to discuss with each other the resource/activity.

Our Discourse forum discuss.focallocal.org is the perfect tool for this.

Notes to consider during build: the discourse forum is also going to be used as a sitewide login/SSO platform, and expanded to also operate as our user profiles section on all areas of the website.

[2018-04-30 00:32] royGil commented on #526
fixed #539

[2018-04-30 00:56] AndyatFocallocal commented on #526
nice. it's a small annoyance gone. please can you find the card for issues you solve in https://trello.com/b/PFj7RlgM/focallocalorg and move them into mission complete

thanks @royGil

[2018-04-30 00:58] royGil commented on #526
@AndyatFocallocal

Done

[2018-04-30 00:58] #526 closed

[2018-04-30 00:58] #520 closed

[2018-04-30 10:29] royGil opened #542 "Thoughts about development constraints the application is facing"
Hi,

Iv'e started working on issues yesterday and was a bit hopeless with how hard It was to debug problems, add new features (with confidence) and understand the code base context.

The following is a list of notes I'd really like to get your opinion about:

- **Meteor's Version: fl-maps: 1.3.5.1, latest: 1.6.1.1 (with 1.7 on its way!)**

  Coming from a project that uses the latest version of me

[2018-04-30 21:56] #507 closed

[2018-04-30 22:31] #505 closed

[2018-04-30 22:40] royGil commented on #504
Hey, Is this still relevant? "eventsForm.js" doesn't exist..

[2018-05-01 01:25] AndyatFocallocal commented on #504
tbh, i'm not sure. ading addresses works fine for me, although the database of addresses is very limited, for example it can't find landmarks like Piccadilly Circus, Parks, and it seems to only accept building numbers after the address, so it's not a great system.

As for the original issue, you'll have to ask @nsrtky and @Spartano whether it was resolved and not closed, or still occuring

[2018-05-17 14:57] royGil opened #545 "Add home page sections"
Open http://gather.focallocal.org/home, you'll see that that the home page contains several sections ("what is focallocal", "what adventures await me?", etc...)

Those sections should be re-implemented into the react version.

**Keep in mind:**
There will be 2 versions of this application (with different text) so you should build those sections using strings from the i18n file.
You can see what I'

[2018-05-17 15:03] royGil opened #546 "Add a sidebar component"
open http://gather.focallocal.org/home and resize the window into a smaller view.
You'll see that the menu now contains a hamburger icon which open up a sidebar.

The links should be generated from the i18n file (just like in the MainMenu component).
(if you aren't sure what to do - take a look at the MainMenu component to see how the navigation links are generated from the i18n file.)

Let me kno

[2018-05-17 15:11] AndyatFocallocal opened #547 "New UX/UI homepage created"
notes:
- text should be editable in il8n (or a replacement language app)
- the Megamenu should be the same design as the current one. @royGil is creating this so it can be just dropped in

[2018-05-17 15:28] AndyatFocallocal opened #548 "A/B testing set up on 2 different versions of the '+ resource' button"
the current '+resource' button in the top right is designed as a fixed call to action to increase users performing the primary function of the map.

if it doesn't increase resources posted, then it's unnecessary and we can go with a cleaner design, so lets set up an A/B test

buttons:
A: '+'
B: '+ resource'

[2018-05-17 18:43] AndyatFocallocal opened #549 "Time date modal redesign/build"
the struggles comes because the map is designed for:

steady resources, like a shelter open 7 days/week for the forseeable future

resources open a few days a week, and at different times.
tues, weds, fri.
08:00 - 13:00
09:30 - 14:00
07:00 - 12:00

one off resources like a week long special event, or just on one day like a yearly soup kitchen at xmas

recurring resources like a user offering CV he

[2018-05-17 18:47] AndyatFocallocal commented on #549
[New time+date module.pdf](https://github.com/focallocal/fl-maps/files/2014362/New.time.date.module.pdf)

[2018-05-18 01:32] royGil commented on #549
You can follow [this](https://github.com/focallocal/fl-maps/tree/datetime-module) branch and try it locally - it's almost ready.

[2018-05-18 01:45] ydaniel98 commented on #547
@AndyatFocallocal how about starting with the current home page? And later work on this after getting existing features working. Mostly becuase the current homepage was translated from react. So it's already done.

[2018-05-18 01:49] ydaniel98 commented on #545
@royGil Originally, the home page was made using react - I had to translate it to blaze. So this is already done. We just have to add i18n to it. I'll see if I can find the repo from the dev who made it.

[2018-05-18 01:54] ydaniel98 commented on #545
Here it is. https://github.com/focallocal/fl-home/tree/2c773e12bf25a3117d9a69d9de8eaa853e854f08

[2018-05-18 09:36] AndyatFocallocal commented on #545
Yes, just need to drop the text from the current one in and the Megamenu

On 18 May 2018 02:54, "Daniel Penalo" <notifications@github.com> wrote:

[2018-05-18 09:38] AndyatFocallocal commented on #547
Sorry, I meant the new page designed by Anthony that we've been discussing.
The current home page will be the more info page, or perhaps be under the
new one so users can scroll down to read more

On 18 May 2018 02:45, "Daniel Penalo" <notifications@github.com> wrote:

[2018-05-19 08:01] HuascarMC commented on #545
I took the home components in the [commit](https://github.com/focallocal/fl-home/tree/2c773e12bf25a3117d9a69d9de8eaa853e854f08) that Daniel posted and added them to the react version in this [branch](https://github.com/HuascarMC/fl-maps/tree/home-page-sections/imports/client/ui/pages/Home). They all render well, just need to plug in the SCSS and it should be ready.

[2018-05-19 14:15] AndyatFocallocal commented on #545
Well done, would you like to submit a pull request to merge it into the new
build?

On 19 May 2018 09:01, "Huascar" <notifications@github.com> wrote:

I took the home components in the commit
<https://github.com/focallocal/fl-home/tree/2c773e12bf25a3117d9a69d9de8eaa853e854f08>
that Daniel posted and added them to the react version in this branch
<https://github.com/HuascarMC/fl-maps/tree/home-page

[2018-05-19 14:19] AndyatFocallocal opened #552 "remove icons from the map which aren't our icons"
our icons are hard to see as they are swamped by google's places of interest so we need to hide google's

unfortunately, i set this up a few years back and have no recollection how i did it. if its not instantly apparent contact me and we can work on it together. if i can find the service i used, and where the code goes in our build then it's just a case of clicking an icon and copy/pasting the ne

[2018-05-19 14:45] royGil commented on #552
What about just changing our icons into something more unique? we can use a different shape/size..
Google's icons can actually be helpful for people to find the events no?

[2018-05-19 17:11] AndyatFocallocal commented on #552
Yes, I'd like to do that as we have too many categories for the current
system, especially when we add the ability to select multiple categories on
a listing. We could perhaps have the multicoloured with all the categories
selected.

I still want to remove the google icons, they clutter the map and reduce
the focus on our icons. I'll try to get the code without them and send it
over to be added

O

[2018-05-20 14:53] royGil opened #554 "Add an event page"
Open http://gather.focallocal.org/events/6gXF6owc5ZDwxRP5a or http://brightertomorrowmap.com/events/fTH84WJ8mLCeSpT6a.
We need to build this page for the react version.

Follow those guidelines if you take it:
- **Think about UI/UX!** - you don't have to recreate it 100% the same. Think about **what users are looking for** when they visit this page and **how can we provide it** in the most efficie

[2018-05-20 14:54] #549 closed

[2018-05-20 15:07] royGil commented on #552
This is how it's done - https://github.com/focallocal/fl-maps/blob/react-maps/imports/client/ui/pages/Map/mapStyles.js#L26

[2018-05-20 15:07] #552 closed

[2018-05-22 12:33] AndyatFocallocal opened #562 "'report' changed to 'report issue'"
![image](https://user-images.githubusercontent.com/16229696/40362541-b6afef7a-5dc4-11e8-8a40-2a9760f50ae0.png)

[2018-05-22 12:57] AndyatFocallocal opened #563 "'suggestions' added to modal window"
On route 2 users will see a clear and obvious suggestions button.

On route one users go directly into the map. from there if they decide to click '+ resource' they won't see the suggested Public Happiness Activities/Community Support Offers button.

i suggest we add it into the 1st window here, next to the 'next' button

![image](https://user-images.githubusercontent.com/16229696/40362976-fff5f70

[2018-05-22 13:03] AndyatFocallocal opened #564 "CSS improvements in listing popup window"
![image](https://user-images.githubusercontent.com/16229696/40363714-467c0b5e-5dc8-11e8-97fd-dc203c333899.png)

'when' should be in a list so users can read it easier.

text in the details section slightly larger for users with poor eye sight - font-size: 17px; on blockquote

[2018-05-22 13:07] AndyatFocallocal opened #565 "test z-index on different screen sizes"
![image](https://user-images.githubusercontent.com/16229696/40364056-3560499c-5dc9-11e8-8ce7-e4d914c4d3ef.png)

mobile looks fine to me, although i've only tested it lightly. desktop on unusual screen sizes has some elements appearing obscuring more important ones as in the image above. it would be good to evaluate and edit their z-index.

i noticed the activity popup being hidden behind the searc

[2018-05-22 13:16] AndyatFocallocal opened #566 "bug on setting times"
i spotted a bug. to recreate it go into the time/date modal window and try setting times, then changing your mind and setting different times or days of the week. the behaviour observed was that the page refreshed and then became unstable when trying to set the times again. here's the error code from console:

[HMR] bundle has 1 warnings
client.js:185 ./node_modules/uniforms/GraphQLBridge.js
Modul

[2018-05-22 13:23] AndyatFocallocal opened #567 "bug: UX/UI recurring modal"
![image](https://user-images.githubusercontent.com/16229696/40365016-8990c33c-5dcb-11e8-96de-156c202b3b63.png)

when setting an activity for a set period, i'm unable to not set a begin/end time on some of the days.

for example, the activity is for 2 months but not on thursdays or fridays. so i don't select them, but the system wont allow me to create the activity as something is missing

[2018-05-22 13:33] #490 closed

[2018-05-22 13:36] AndyatFocallocal opened #568 "Social Sharing buttons in 'Congratulations' window setup"
6. the sharing buttons at the end are different on each site (focallocal.org/brightertomorrowmap.com), separated by il8n.

a) users on the brighter tomorrow map are met with this message:

Congratulations!
We're one step closer to a happier and more connected World

Click the share buttons below to tell more people about this community effort to transform homelessness, and grow the Movement!

b) u

[2018-05-22 13:40] AndyatFocallocal opened #569 "location needs to zoom in 6 steps closer after entering location on landing page"
location needs to zoom in 6 steps closer after entering location on landing page to show users their local area - the maps main UX goal is to make users feel connected with others in their local community.

[2018-05-22 13:43] AndyatFocallocal opened #570 "[x] day of the week each month added to time/date modal"
often activities will repeat on the same day of the week each month, so that option needs to be added to the recurring gatherings/resources, for example:

the 3rd Tuesday every month.

or the 1st Saturday every month

![london public happiness meetings poster](https://user-images.githubusercontent.com/16229696/40366181-6e2cd4b6-5dce-11e8-8dbc-5174acbcc57e.jpeg)

[2018-05-22 13:44] AndyatFocallocal opened #571 "Focallocal logo moved below the 2 main features on the landing page and hooked into il8n"
Focallocal logo moved below the 2 main features on the landing page, and below the opening viewport, so users need to scroll down to see it. (that image will be a different one on the brightertomorrowmap, so if its possible to call the image via a link in il8n that would be fabulous, so i can post the focallocal logo and brighter tomorrow logo somewhere else and pull the link in)

[2018-05-22 20:12] AndyatFocallocal opened #573 "list view moved into same window as map"
the list view on brightertomorrowmap.com is being moved into the same window as the map.

on a mobile device it will appear below the map, on a wider screen like a desktop it will appear on the right half (or 1/3rd if it looks better) of the screen

as shown in image 1 in this wireframe

![btm-mobile_wireframes](https://user-images.githubusercontent.com/16229696/40387472-c755e718-5e04-11e8-8e01-63

[2018-05-22 20:16] AndyatFocallocal opened #574 "Filter resources window set to full screen"
the filter resources popup selector should be set to full screen on mobile devices for a cleaner effect as in image 3 below

![btm-mobile_wireframes](https://user-images.githubusercontent.com/16229696/40387704-610746e0-5e05-11e8-879e-34555f30a799.png)

[2018-05-22 20:48] AndyatFocallocal opened #575 "Current databases copied/merged with React version databases"
there isn't a lot on either map atm fortunately. although what is there was uploaded by members of each community, and we don't want anyone thinking their efforts were wasted

[2018-05-22 21:32] royGil commented on #564
A list will be available only on the event page because otherwise you might get a huge window if the event has a long description/when fields, I want to keep this as minimal as possible.

People with poor eyes can actually use the zooming option that the browsers provide - bigger font will break the layout of this window.

What do you think?

[2018-05-22 21:36] royGil commented on #575
i'll work on that once we push that version live

[2018-05-22 21:37] royGil commented on #574
this is actually the current behavior :)

[2018-05-22 21:37] #574 closed

[2018-05-22 21:46] royGil commented on #570
listen it's getting too complicated - I'll need you to redefine the requirements from the 'repeating' section in the date/time module. a list with all the different possible options might be a good start.

[2018-05-22 21:50] royGil commented on #563
Sorry I didn't understand what you are asking for

[2018-05-22 21:54] #562 closed

[2018-05-22 21:54] #566 closed

[2018-05-22 21:54] #567 closed

[2018-05-22 21:54] #569 closed

[2018-05-22 22:07] royGil commented on #565
this is the default behavior of google-maps..
I don't think we can control that but let me know if you stumble upon a map which displays the popup on top of the other elements..

[2018-05-22 22:07] #565 closed

[2018-05-23 13:13] AndyatFocallocal commented on #570
it was essentially 2 drop down menus.

menu 1:
1st
2nd
3rd
4th
5th

menu 2:
Mon
Tues
Weds
Thurs
Fri
Sat
Sun

and appeared like this:

'repeat activity on the [menu 1] [menu 2] every month'

[2018-05-23 13:14] AndyatFocallocal commented on #570
which would appear in the repeating activity section

[2018-05-23 13:32] roamingandy commented on #565
if you've set the filter window to be full screen and it's on top of all
other elements then that will be fine. just the search bar which is a
bit ugly when on top of the activity popup. we may need to move back to
openmaps at some point in the future as apparently google has high
charges when you get over a certain amount of requests/day.

i'm unclear on how that will manifest, and we are a long

[2018-05-23 14:16] royGil commented on #570
which cases does it cover? (except for the example you gave before)

[2018-05-23 14:28] #564 closed

[2018-05-23 14:29] #513 closed

[2018-05-23 14:32] royGil commented on #439
I'm closing this as it is not relevant right now.

[2018-05-23 14:32] #439 closed

[2018-05-23 14:33] #530 closed

[2018-05-23 15:03] #440 closed

[2018-05-23 22:05] AndyatFocallocal opened #577 "Email everyone nearby"
When posting a community listing, or public happiness activity, users will be given the option to inform all those nearby who have set themselves as available to be contacted.

This means people on brighter tomorrow can inform those who are homeless nearby that they are offering a new resource, to make sure it's seen.

On the gatherings map users can also select to email all others nearby (who've

[2018-05-23 22:12] AndyatFocallocal commented on #570
that's the only case missing that i'm aware of. users wanting it repeating on the [1st-5th] [Day] every month

[2018-05-23 22:44] AndyatFocallocal commented on #570
i think the two drop down menu's i mentioned above is the simplest method, but i just found google calendars recurrance feature and thought i'd share it. it is pretty smooth ..and maybe someone's already recreated it in opensource?

![image](https://user-images.githubusercontent.com/16229696/40455077-37c316b8-5ee3-11e8-836d-d7a1483d6d25.png)

[2018-05-23 23:46] royGil commented on #570
looks good, i'll use that as a reference.
what about times?

should it support something like ? `every 2nd sunday of the month between 15:00 - 20:00`

[2018-05-24 02:32] #573 closed

[2018-05-24 11:38] roamingandy commented on #570
sure, it can do. or the times can be a little away from that, i think
they'll make sense to the user either way so what ever you think is better

Andy

On 24/05/2018 00:46, Roy Giladi wrote:

[2018-05-24 12:30] AndyatFocallocal commented on #563
we discussed this further on Slack, i don't think i included my reasons for using Reddit on the Brighter Tomorrow Map.

1) It works. No development needed, just adding a link
2) Marketing. Our map can reach their huge community while it's growing it's own

Everytime i've posted about the map on Reddit we've ended up on the front page, so having a reddit thread will be a fabulous way to reach and r

[2018-05-24 14:26] AndyatFocallocal opened #579 "unexpected token error when trying to post activity/resource"
path:
free hugs (auto-filled from yesterday)
just one day
all fields entered
error message: please check that you've filled in all necessary fields (a message saying which one i've missed would be helpful as a user)

solution: changing the address. so it worked, but the pre-loaded address from past effort had an error

![image](https://user-images.githubusercontent.com/16229696/40491518-31cd0416-5